# start-here.mdx @novusnota @verytactical @anton-trunov
# get-support.mdx @novusnota @verytactical @anton-trunov
# guides/first-dapp.mdx @novusnota @verytactical @anton-trunov
# guides/from-ethereum.mdx @Kaladin13
# guides/payment.mdx @tact-lang/smart-contracts
# guides/debug.mdx @tact-lang/smart-contracts
# guides/telegram.mdx @tact-lang/smart-contracts
# guides/tma.mdx @tact-lang/smart-contracts
# guides/react.mdx @tact-lang/smart-contracts
# guides/auth.mdx @tact-lang/smart-contracts
# guides/game.mdx @tact-lang/smart-contracts
# guides/dapp.mdx @tact-lang/smart-contracts
# guides/wallet.mdx @tact-lang/smart-contracts
# guides/cex.mdx @tact-lang/smart-contracts
# guides/more.mdx @tact-lang/smart-contracts
# ecosystem/overview.mdx @verytactical
# ecosystem/wallet-apps/overview.mdx @tact-lang/smart-contracts
# ecosystem/wallet-apps/tonkeeper.mdx @tact-lang/smart-contracts
# ecosystem/wallet-apps/web.mdx @verytactical
# ecosystem/wallet-apps/dev.mdx @verytactical
# ecosystem/explorers/overview.mdx @tact-lang/smart-contracts
# ecosystem/explorers/tonviewer.mdx @tact-lang/smart-contracts
# ecosystem/ide/ @tact-lang/smart-contracts
# ecosystem/blueprint/ @Alejandbel
# ecosystem/testing/overview.mdx @tact-lang/smart-contracts
# ecosystem/testing/sandbox.mdx @thekiba
# ecosystem/testing/test-utils.mdx @thekiba
# ecosystem/ton-connect/ @thekiba @TrueCarry
# ecosystem/sdks.mdx @verytactical
# ecosystem/analytics.mdx @anton-trunov
# ecosystem/status.mdx @anton-trunov
# ecosystem/rpc/overview.mdx @tact-lang/smart-contracts
# ecosystem/rpc/toncenter.mdx @tact-lang/smart-contracts
# ecosystem/node/overview.mdx @tact-lang/smart-contracts
# ecosystem/node/usage.mdx @tact-lang/smart-contracts
# ecosystem/node/mytonctrl.mdx @tact-lang/smart-contracts
# ecosystem/ai.mdx @Gusarich
# ecosystem/more.mdx @tact-lang/smart-contracts
# standard/overview.mdx @tact-lang/smart-contracts
# standard/wallets/ @tact-lang/smart-contracts
# standard/tokens/ @tact-lang/smart-contracts
# standard/dex.mdx @tact-lang/smart-contracts
# standard/vesting.mdx @tact-lang/smart-contracts
# standard/governance.mdx @tact-lang/smart-contracts
# patterns/ @tact-lang/smart-contracts
# patterns/security.mdx @Karkarmath
# patterns/zk.mdx @Kaladin13
# language/tolk.mdx @tact-lang/smart-contracts
# language/tlb.mdx @verytactical
# language/fift/ @pyAndr3w
# language/func/ @tact-lang/smart-contracts
# language/tact.mdx @novusnota
# tvm/ @tact-lang/smart-contracts
# foundations/ @tact-lang/smart-contracts
# services/ @tact-lang/smart-contracts
# contribute/ @anton-trunov @verytactical
