# Default to the documentation team when there are no specific matches
* @ton-org/docs

##
# Ecosystem
##

# AI
/ecosystem/ai/skills.mdx @Alejandbel
/ecosystem/ai/mcp.mdx @TrueCarry @thekiba @Alejandbel
/ecosystem/ai/wallets.mdx @TrueCarry @thekiba @Alejandbel

# APIs
/ecosystem/api/toncenter @kdimentionaltree

# Sub-second finality upgrade
/ecosystem/subsecond.mdx @thekiba

# Analytics
/ecosystem/analytics.mdx @ohld

# TON Connect, AppKit, WalletKit
/ecosystem/ton-connect/ @TrueCarry
/ecosystem/appkit/ @TrueCarry @thekiba
/ecosystem/walletkit/ @TrueCarry @thekiba

# TON Pay
/ecosystem/ton-pay @aigerimu @delovoyhomie

# TMA
/ecosystem/tma @heyqbnk @kuhel

# Blockchain nodes
/ecosystem/nodes/overview.mdx @yungwine @inyellowbus
/ecosystem/nodes/cpp @yungwine
/ecosystem/nodes/rust @inyellowbus

# Staking
/ecosystem/staking @yungwine @thekiba

##
# Payment processing
##

/payments @Shvandre @Kaladin13

##
# Standard contracts
##

/standard @Shvandre @Kaladin13

##
# Contract development
##

/contract-dev @Shvandre @Kaladin13

##
# Tolk language
##

/tolk @tolk-vm @Shvandre @Kaladin13

##
# TVM: TON Virtual Machine
##

/tvm @Shvandre @Kaladin13

##
# Blockchain foundations
##

/foundations @Shvandre @Kaladin13

##
# Contributing and components
##

/contribute/ @novusnota @aigerimu
/snippets/ @novusnota

##
# CI
##

/.github/ @novusnota
/.husky/ @novusnota

##
# Configs and setup
##

/.cspell.jsonc @novusnota
/.editorconfig @novusnota
/.gitattributes @novusnota
/.gitignore @novusnota
/.npmrc @novusnota
/.prettier* @novusnota
/.remark* @novusnota
/extra* @novusnota
/package* @novusnota
/scripts/ @novusnota
/resources/dictionaries @novusnota
/resources/grammars @novusnota
/resources/logo @novusnota
