/* See: https://mintlify.com/docs/settings/custom-scripts#custom-css */

/* Fixing width of the API reference navigation tags */
span.method-nav-pill {
  width: fit-content;
  /* or 3rem */
}

/* Prevent word breaks in inline code items in tables */
td>code,
td>em>code,
td>strong>code,
td>a>code {
  white-space: nowrap;
}

/* Make links not bold */
.link {
  font-weight: 400;
}

/* Enhance links that wrap inline code snippets */

.link:has(code) {
  padding-bottom: 3px;
}

.link>code {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-decoration: none;
}

/* Fix Mermaid's Sankey diagrams for both themes */

svg[aria-roledescription="sankey"]>g.links>g.link {
  mix-blend-mode: normal !important;
}

/* A style to hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* A class to hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

/* Sticky table headers */

table {
  overflow: unset !important;
}

thead>tr>th {
  position: sticky;
  top: 0;
  background: rgb(var(--background-light));
}

html.dark thead>tr>th {
  background: rgb(var(--background-dark));
}

/* Tabular numbers for better alignment in tables */
table {
  font-variant-numeric: tabular-nums;
}

/* Reduction of bottom margins for code blocks as last items of <Aside> components */
div[data-component-part="callout-content"]>.code-block:last-child {
  margin-bottom: 0;
}
