/* See: https://mintlify.com/docs/settings/custom-scripts#custom-css */

/* Fixing width of the API reference navigation tags */
span.method-nav-pill {
  width: fit-content;
  /* or 3rem */
}

/* Prevent work breaks in inline code items in tables */
td>code,
td>em>code,
td>strong>code,
td>a>code {
  white-space: nowrap;
}

/* Make links not bold */
.link {
  font-weight: 400;
}

/* Enhance links that wrap inline code snippets */

.link:has(code) {
  padding-bottom: 3px;
}

.link>code {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Fix Mermaid's Sankey diagrams for both themes */

svg[aria-roledescription="sankey"]>g.links>g.link {
  mix-blend-mode: normal !important;
}
