/* See: https://mintlify.com/docs/settings/custom-scripts#custom-css */

/* Fixing width of the API reference navigation tags */
span.method-nav-pill {
  width: fit-content;
  /* or 3rem */
}

/* Adds a rounded rectangular outline/border around the anchor group on top */
@media (min-width: 1024px) {
  #navigation-items> :first-child {
    border-color: rgb(var(--gray-200)/.7);
    border-width: 1px;
    border-radius: 0.85rem;
    /* or var(--rounded-xl, .75rem) */
    padding-top: 0.85rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-top: 1rem;
  }

  html.dark #navigation-items> :first-child {
    border-color: rgb(255 255 255/.07);
  }
}
