/* See: https://mintlify.com/docs/settings/custom-scripts#custom-css */

/* Fixing width of the API reference navigation tags */
span.method-nav-pill {
  width: fit-content;
  /* or 3rem */
}

/* Prevent word breaks in inline code items in tables */
td>code,
td>em>code,
td>strong>code,
td>a>code {
  white-space: nowrap;
}

/* Make links not bold */
.link {
  font-weight: 400;
}

/* Enhance links that wrap inline code snippets */

.link:has(code) {
  padding-bottom: 3px;
}

.link>code {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-decoration: none;
}

/* Fix Mermaid's Sankey diagrams for both themes */

svg[aria-roledescription="sankey"]>g.links>g.link {
  mix-blend-mode: normal !important;
}

/* A style to hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* A class to hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

/* Sticky table headers */

table {
  overflow: unset !important;
}

thead>tr>th {
  position: sticky;
  top: 0;
  background: rgb(var(--background-light));
}

html.dark thead>tr>th {
  background: rgb(var(--background-dark));
}

/* Tabular numbers for better alignment in tables */
table {
  font-variant-numeric: tabular-nums;
}

/* Reduction of bottom margins for code blocks as last items of <Aside> components */
div[data-component-part="callout-content"]>.code-block:last-child {
  margin-bottom: 0;
}

/*
  A temporary solution syntax highlighting of Tolk snippets: invoke Prism.js on a client-side.
  See `snippets/tolk-highlight.jsx`.
  @link https://github.com/ton-org/docs/issues/1473
 */

:root {
  --tolk-token-comment: #808080;
  --tolk-token-type-hint: #D500EC;
  --tolk-token-keyword: #0000FF;
  --tolk-token-struct: #007EA2;
  --tolk-token-variable: #444444;
  --tolk-token-attr-name: #808000;
  --tolk-token-function: #A82D2D;
  --tolk-token-number: #0B9000;
  --tolk-token-string: #008000;
  --tolk-token-string-bg: #FAF9EF;
  --tolk-token-operator: #A0A000;
  --tolk-token-punctuation: #808000;
  --tolk-token-three-dots: #999999;
}

code.language-tolk  { color: var(--tolk-token-variable); }
.token.comment      { color: var(--tolk-token-comment); font-style: italic; }
.token.type-hint    { color: var(--tolk-token-type-hint); }
.token.boolean      { color: var(--tolk-token-keyword); }
.token.keyword      { color: var(--tolk-token-keyword); }
.token.self         { color: var(--tolk-token-variable); font-weight: bold; }
.token.attr-name    { color: var(--tolk-token-attr-name); }
.token.function     { color: var(--tolk-token-function); }
.token.number       { color: var(--tolk-token-number); }
.token.string       { color: var(--tolk-token-string); background-color: var(--tolk-token-string-bg); }
.token.operator     { color: var(--tolk-token-operator); }
.token.punctuation  { color: var(--tolk-token-punctuation); }
.token.three-dots   { color: var(--tolk-token-three-dots); }
.token.struct       { color: var(--tolk-token-struct); }
.token.variable     { color: var(--tolk-token-variable); }

html.dark {
  --tolk-token-comment: #808080;
  --tolk-token-type-hint: #DF90F8;
  --tolk-token-keyword: #D75F02;
  --tolk-token-struct: #56C1FF;
  --tolk-token-variable: #C5D2E0;
  --tolk-token-attr-name: #808000;
  --tolk-token-function: #F9B900;
  --tolk-token-number: #33A033;
  --tolk-token-string: #33A033;
  --tolk-token-string-bg: #1B1C1E;
  --tolk-token-operator: #A0A000;
  --tolk-token-punctuation: #85B2A0;
  --tolk-token-three-dots: #777777;
}
