{
  "openapi": "3.1.1",
  "info": {
    "title": "TON HTTP API C++",
    "description": "This API enables HTTP access to TON blockchain - getting accounts and wallets information, looking up blocks and transactions, sending messages to the blockchain, calling get methods of smart contracts, and more.\n\nIn addition to REST API, all methods are available through a JSON-RPC endpoint  with `method` equal to method name and `params` passed as a dictionary.\n\nThe response contains a JSON object, which always has a boolean field `ok` and either `error` or `result`. If `ok` equals true, the request was successful and the result of the query can be found in the `result` field. In case of an unsuccessful request, `ok` equals false and the error is explained in the `error`.\n\nAPI Key should be sent either as `api_key` query parameter or `X-API-Key` header\n",
    "version": "2.1.1"
  },
  "servers": [
    {
      "url": "https://toncenter.com",
      "description": "TON Mainnet"
    },
    {
      "url": "https://testnet.toncenter.com",
      "description": "TON Testnet"
    }
  ],
  "paths": {
    "/api/v2/getAddressInformation": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get address information",
        "description": "Returns the current state of any account on the TON blockchain. Includes the balance (in nanotons), smart contract code and data (if deployed), account status, and a reference to the last transaction. This is the primary endpoint for checking if an address exists and what's deployed there.",
        "operationId": "getAddressInformation_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          },
          {
            "$ref": "#/components/parameters/seqnoOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "The complete current state of the requested account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressInformationResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_address"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getExtendedAddressInformation": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get extended address information",
        "description": "Returns detailed account information with parsed contract state. For wallet contracts, identifies the wallet version (v3, v4, v5) and extracts wallet-specific fields like `seqno` and public key. For other contracts, returns the raw state.",
        "operationId": "getExtendedAddressInformation_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          },
          {
            "$ref": "#/components/parameters/seqnoOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns detailed account information including parsed contract state and type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedAddressInformationResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_address"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getWalletInformation": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get wallet information",
        "description": "Returns wallet-specific information for an address. If the address is a known wallet contract, returns the wallet type, current `seqno` (needed for sending transactions), and wallet_id. Always check `wallet: true` before using wallet-specific fields. Call this before sending any transaction to get the current `seqno`.",
        "operationId": "getWalletInformation_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          },
          {
            "$ref": "#/components/parameters/seqnoOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns wallet-specific details: type, `seqno`, subwallet ID, and balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletInformationResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_address"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getAddressBalance": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get address balance",
        "description": "Returns the TON balance of an account in nanotons. 1 TON = 1,000,000,000 nanotons. A lightweight endpoint that returns only the balance without contract code, data, or other account details. Returns \"0\" for addresses that have never received any funds.",
        "operationId": "getAddressBalance_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          },
          {
            "$ref": "#/components/parameters/seqnoOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the account balance in nanotons.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressBalanceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_address"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getAddressState": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get address state",
        "description": "Returns the lifecycle state of an account. Possible values: `uninitialized` (address has no deployed contract but can receive TON), `active` (contract is deployed and working), `frozen` (contract suspended due to zero balance, send TON to unfreeze). Refer to the [account lifecycle states documentation](/foundations/status) for details. Check this before interacting with a contract.",
        "operationId": "getAddressState_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          },
          {
            "$ref": "#/components/parameters/seqnoOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the account lifecycle state: `uninit`, `active`, or `frozen`. Refer to the [account lifecycle states documentation](/foundations/status) for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressStateResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_address"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getTokenData": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get token data",
        "description": "Returns metadata for Jetton or NFT contracts. Automatically detects the contract type and returns appropriate fields. For Jetton masters: total supply, admin, metadata. For Jetton wallets: balance, owner. For NFT items: collection, owner, content. For NFT collections: item count, metadata.",
        "operationId": "getTokenData_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns parsed token metadata for Jetton masters, Jetton wallets, NFT collections, and NFT items.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenDataResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422_address"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500_token"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getBlockTransactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get block transactions",
        "description": "Returns a summary of transactions in a specific block. Each item contains the account address and transaction ID, but not full transaction details. Use `count` to limit results and `after_lt`/`after_hash` for pagination. Call getTransactions with each transaction ID to get full details.",
        "operationId": "getBlockTransactions_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/workchain"
          },
          {
            "$ref": "#/components/parameters/shard"
          },
          {
            "$ref": "#/components/parameters/seqno"
          },
          {
            "$ref": "#/components/parameters/rootHashOptional"
          },
          {
            "$ref": "#/components/parameters/fileHashOptional"
          },
          {
            "$ref": "#/components/parameters/afterLtOptional"
          },
          {
            "$ref": "#/components/parameters/afterAccountHashOptional"
          },
          {
            "$ref": "#/components/parameters/countOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns short transaction identifiers (account, lt, hash) for transactions in the specified block.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockTransactionsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_block_tx"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getBlockTransactionsExt": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get block transactions (extended)",
        "description": "Returns full transaction objects for all transactions in a specific block. Each transaction includes complete data: inbound and outbound messages, fees, state changes, and BoC-encoded raw data. Use `count` to limit results and `after_lt`/`after_hash` for pagination when `incomplete` is true.",
        "operationId": "getBlockTransactionsExt_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/workchain"
          },
          {
            "$ref": "#/components/parameters/shard"
          },
          {
            "$ref": "#/components/parameters/seqno"
          },
          {
            "$ref": "#/components/parameters/rootHashOptional"
          },
          {
            "$ref": "#/components/parameters/fileHashOptional"
          },
          {
            "$ref": "#/components/parameters/afterLtOptional"
          },
          {
            "$ref": "#/components/parameters/afterAccountHashOptional"
          },
          {
            "$ref": "#/components/parameters/countOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns full transaction objects for transactions in the specified block.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockTransactionsExtResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_block_tx"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getTransactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transactions",
        "description": "Returns transaction history for an account. Transactions are returned newest-first. Each transaction shows the incoming message that triggered it, all outgoing messages, and fees paid. For pagination: use the `lt` and `hash` from the oldest transaction as the starting point for the next request.",
        "operationId": "getTransactions_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          },
          {
            "$ref": "#/components/parameters/limitOptional"
          },
          {
            "$ref": "#/components/parameters/ltOptional"
          },
          {
            "$ref": "#/components/parameters/hashOptional",
            "description": "SHA-256 transaction hash to start pagination from"
          },
          {
            "$ref": "#/components/parameters/toLtOptional"
          },
          {
            "$ref": "#/components/parameters/archivalOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of transactions for the specified account, ordered by logical time.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_transaction"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getTransactionsStd": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transactions (standard)",
        "description": "Returns transaction history for an account in a standardized format. Transactions are returned newest-first. Each transaction includes the triggering inbound message, all outbound messages, and fees paid. The response includes a `previous_transaction_id` cursor for paginating through older transactions.",
        "operationId": "getTransactionsStd_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          },
          {
            "$ref": "#/components/parameters/limitOptional"
          },
          {
            "$ref": "#/components/parameters/ltOptional"
          },
          {
            "$ref": "#/components/parameters/hashOptional",
            "description": "SHA-256 transaction hash to start pagination from"
          },
          {
            "$ref": "#/components/parameters/toLtOptional"
          },
          {
            "$ref": "#/components/parameters/archivalOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns transactions in standardized format with a pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_transaction"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/tryLocateTx": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Try locate transaction",
        "description": "Finds a transaction by message parameters. Given a source address, destination address, and message creation time (created_lt), returns the transaction that processed this message. Useful for locating when a previously sent message was executed.",
        "operationId": "tryLocateTx_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceAddress"
          },
          {
            "$ref": "#/components/parameters/destinationAddress"
          },
          {
            "$ref": "#/components/parameters/createdLt"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the transaction matching the given source, destination, and created logical time.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocateTxResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422_locate"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/tryLocateResultTx": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Try locate result transaction",
        "description": "Finds the transaction that received a specific message. Given message parameters, returns the transaction on the destination account that processed the incoming message. Use this to trace message delivery across accounts.",
        "operationId": "tryLocateResultTx_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceAddress"
          },
          {
            "$ref": "#/components/parameters/destinationAddress"
          },
          {
            "$ref": "#/components/parameters/createdLt"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the resulting transaction on the destination account for the given message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocateResultTxResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422_locate"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/tryLocateSourceTx": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Try locate source transaction",
        "description": "Finds the transaction that sent a specific message. Given message parameters, returns the transaction on the source account that created this outgoing message. Useful for tracing where a message originated from.",
        "operationId": "tryLocateSourceTx_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceAddress"
          },
          {
            "$ref": "#/components/parameters/destinationAddress"
          },
          {
            "$ref": "#/components/parameters/createdLt"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the originating transaction on the source account for the given message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocateSourceTxResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422_locate"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getMasterchainInfo": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get masterchain info",
        "description": "Returns the current state of the TON masterchain. The `last` field contains the latest block used for querying current state. The `seqno` in `last` is the current block height. Use this endpoint to obtain the latest block reference for other queries.",
        "operationId": "getMasterchainInfo_get",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The current masterchain state, including the latest block identifier, its state root hash, and the genesis block reference. Use `result.last.seqno` as the current block height.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterchainInfoResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getMasterchainBlockSignatures": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get masterchain block signatures",
        "description": "Returns validator signatures for a specific masterchain block. Each signature proves that a validator approved this block. Use this for building cryptographic proofs or verifying block authenticity in trustless applications.",
        "operationId": "getMasterchainBlockSignatures_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/seqno"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns validator signatures for the specified masterchain block.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterchainBlockSignaturesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_block"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getShardBlockProof": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get shard block proof",
        "description": "Returns a Merkle proof that links a shardchain block to a masterchain block. This proof cryptographically verifies that the shard block is part of the canonical chain. Used by light clients and cross-chain bridges to verify shard data without trusting the API.",
        "operationId": "getShardBlockProof_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/workchain"
          },
          {
            "$ref": "#/components/parameters/shard"
          },
          {
            "$ref": "#/components/parameters/seqno"
          },
          {
            "name": "from_seqno",
            "in": "query",
            "description": "Seqno of masterchain block starting from which proof is required. If not specified latest masterchain block is used",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a cryptographic proof chain linking a shard block to the masterchain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShardBlockProofResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_block"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getConsensusBlock": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get consensus block",
        "description": "Returns the latest block that has reached consensus and is guaranteed to be final. This block will never be reverted, making it safe for confirming transactions that require absolute finality.",
        "operationId": "getConsensusBlock_get",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The latest masterchain block that has achieved finality, guaranteed to never be reverted. Returns its sequence number and Unix timestamp.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsensusBlockResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/lookupBlock": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Lookup block",
        "description": "Finds a block by position or time. Specify workchain and shard, then provide either: `seqno` (exact block number), lt (find block containing this logical time), or unixtime (find block closest to this timestamp). Returns the full block ID including hashes needed for verification.",
        "operationId": "lookupBlock_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/workchain"
          },
          {
            "$ref": "#/components/parameters/shard"
          },
          {
            "$ref": "#/components/parameters/seqnoOptional"
          },
          {
            "name": "lt",
            "in": "query",
            "description": "Logical time of a block",
            "required": false,
            "schema": {
              "type": "string",
              "x-usrv-cpp-format": "std::int64_t"
            }
          },
          {
            "name": "unixtime",
            "in": "query",
            "description": "UNIX timestamp of a block",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the full block identifier matching the given `seqno`, logical time, or unix timestamp.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupBlockResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_lookup"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getShards": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get shards",
        "description": "Returns the active shardchain block identifiers at a given masterchain block height. Each shard processes a subset of accounts in parallel. The response shows how the basechain is currently partitioned and which block each shard is at.",
        "operationId": "getShards_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/seqno",
            "description": "Seqno of masterchain block"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of active shard block identifiers at the specified masterchain block.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_block"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getBlockHeader": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get block header",
        "description": "Returns block metadata without the full transaction list. Includes timestamps, validator info, and references to previous blocks. Intended for block explorers and other use cases that require block information without transactions.",
        "operationId": "getBlockHeader_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/workchain"
          },
          {
            "$ref": "#/components/parameters/shard"
          },
          {
            "$ref": "#/components/parameters/seqno"
          },
          {
            "$ref": "#/components/parameters/rootHashOptional"
          },
          {
            "$ref": "#/components/parameters/fileHashOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the block header with merge/split flags, validator info, and timing data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockHeaderResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_block"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getOutMsgQueueSize": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get outbound message queue size",
        "description": "Returns the current size of the outbound message queue for each shard. A growing queue indicates network congestion. If the queue is large, transactions may take longer to process. Monitor this to detect network issues.",
        "operationId": "getOutMsgQueueSize_get",
        "responses": {
          "200": {
            "description": "Outgoing message queue sizes for all active shards. A growing queue indicates network congestion and may cause transaction delays.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutMsgQueueSizeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/runGetMethod": {
      "post": {
        "tags": [
          "Run method"
        ],
        "summary": "Run get method",
        "description": "Executes a read-only method on a smart contract. Get methods query contract state without sending a transaction. Common methods include `seqno` (wallet sequence number), `get_wallet_data` (wallet info), and `get_jetton_data` (token info). Method arguments are provided in the `stack` array.",
        "operationId": "runGetMethod_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunGetMethodRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the TVM stack output and exit code from executing the specified get method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunGetMethodResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_run"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500_execution"
          },
          "504": {
            "$ref": "#/components/responses/504"
          },
          "542": {
            "$ref": "#/components/responses/542"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/runGetMethodStd": {
      "post": {
        "tags": [
          "Run method"
        ],
        "summary": "Run get method (standard)",
        "description": "Executes a read-only method on a smart contract using typed stack entries. Input and output stack entries use explicit types (`TvmStackEntryNumber`, `TvmStackEntryCell`, etc.) for structured input/output handling. Common methods: `seqno` (wallet sequence number), `get_wallet_data` (wallet info), `get_jetton_data` (token info).",
        "operationId": "runGetMethodStd_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunGetMethodStdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the get method result in standardized stack format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunGetMethodStdResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_run"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500_execution"
          },
          "504": {
            "$ref": "#/components/responses/504"
          },
          "542": {
            "$ref": "#/components/responses/542"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/sendBoc": {
      "post": {
        "tags": [
          "Send"
        ],
        "summary": "Send BoC",
        "description": "Broadcasts a signed message to the TON network. The `boc` parameter must contain a complete, signed external message in base64 format. The API validates the message and forwards it to validators. Returns immediately after acceptance; use getTransactions to confirm the transaction was processed.",
        "operationId": "sendBoc_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendBocRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a success confirmation after broadcasting the serialized message to the network.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendBocResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_send"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500_send"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/sendBocReturnHash": {
      "post": {
        "tags": [
          "Send"
        ],
        "summary": "Send BoC (return hash)",
        "description": "Broadcasts a signed message to the TON network and returns the message hash. The `boc` parameter must contain a complete, signed external message in base64 format. The API validates the message and forwards it to validators. The returned hash can be used to track the message's processing status.",
        "operationId": "sendBocReturnHash_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendBocRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the message hash after broadcasting the serialized message to the network.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendBocReturnHashResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_send"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500_send"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/estimateFee": {
      "post": {
        "tags": [
          "Send"
        ],
        "summary": "Estimate fee",
        "description": "Calculates the fees required to send a message. Provide the destination address and message body. For new contract deployments, also include init_code and init_data. Set ignore_chksig to true when estimating before signing. Returns a breakdown of storage, gas, and forwarding fees.",
        "operationId": "estimateFee_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EstimateFeeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the estimated fees (gas, storage, forwarding) for the specified message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateFeeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_run"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500_execution"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/detectAddress": {
      "get": {
        "tags": [
          "Utils"
        ],
        "summary": "Detect address",
        "description": "Validates an address and returns it in all standard formats. Use this to convert between address formats or to validate user input. Returns raw format (0:abc), base64 bounceable (EQ), base64 non-bounceable (UQ), and URL-safe variants.",
        "operationId": "detectAddress_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the address in all supported formats (raw, bounceable, non-bounceable) with base64 and URL-safe variants.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectAddressResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_address"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/detectHash": {
      "get": {
        "tags": [
          "Utils"
        ],
        "summary": "Detect hash",
        "description": "Validates a hash and returns it in all standard formats. Use this to convert between hex (64 chars) and base64 (44 chars) representations. Works with any 256-bit hash including transaction hashes, block hashes, and message hashes.",
        "operationId": "detectHash_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/hash"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the hash in all supported formats (hex, base64, URL-safe base64).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectHashResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_address"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/packAddress": {
      "get": {
        "tags": [
          "Utils"
        ],
        "summary": "Pack address",
        "description": "Converts a raw address to user-friendly base64 format. Raw addresses use the format `workchain:hex` (e.g., `0:abc...`). The packed format is shorter and includes a checksum for error detection.",
        "operationId": "packAddress_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the address converted to user-friendly (base64) format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackAddressResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_address"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/unpackAddress": {
      "get": {
        "tags": [
          "Utils"
        ],
        "summary": "Unpack address",
        "description": "Converts a user-friendly base64 address back to its raw components. Returns the workchain ID, account hex, and flags indicating if the address is bounceable or testnet-only.",
        "operationId": "unpackAddress_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the unpacked address components: workchain, hex account ID, and format flags.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnpackAddressResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_address"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getConfigParam": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get config parameter",
        "description": "Returns a specific blockchain configuration parameter. TON stores all network settings on-chain as numbered parameters. Common ones: 0 (config contract), 1 (elector), 15 (election timing), 17 (stake limits), 20-21 (gas prices), 34 (current validators). Check TON documentation for the full list.",
        "operationId": "getConfigParam_get",
        "parameters": [
          {
            "name": "config_id",
            "in": "query",
            "description": "Parameter number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "seqno",
            "in": "query",
            "description": "Block `seqno`",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the specified blockchain configuration parameter as a TVM cell.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigParamResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_config"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getConfigAll": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get all config parameters",
        "description": "Returns all blockchain configuration parameters at once. Includes gas prices, validator settings, workchain configs, and governance rules. Use the optional `seqno` to get historical configuration at a specific block height.",
        "operationId": "getConfigAll_get",
        "parameters": [
          {
            "name": "seqno",
            "in": "query",
            "description": "Block `seqno`",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all blockchain configuration parameters as a single TVM cell.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigAllResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getLibraries": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get libraries",
        "description": "Returns smart contract library code by hash. Some contracts reference shared libraries instead of including all code directly. When a library reference appears in contract code, this endpoint fetches the actual library implementation.",
        "operationId": "getLibraries_get",
        "parameters": [
          {
            "name": "libraries",
            "in": "query",
            "description": "Hashes of libraries",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "#/components/schemas/TonHash"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the code of the requested shared library cells.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibrariesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_libraries"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/jsonRPC": {
      "post": {
        "tags": [
          "RPC"
        ],
        "summary": "JSON-RPC endpoint",
        "description": "All API methods are available through this single endpoint using JSON-RPC 2.0 protocol. Send the method name in the `method` field and parameters as a dictionary in `params`. Useful for calling multiple methods in sequence or when JSON-RPC is preferred over REST.",
        "operationId": "jsonRPC_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the result of the specified JSON-RPC method call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422_jsonrpc"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500_execution"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Accounts",
      "description": "Information about accounts"
    },
    {
      "name": "Transactions",
      "description": "Fetching and locating transactions"
    },
    {
      "name": "Blocks",
      "description": "Information about blocks"
    },
    {
      "name": "Run method",
      "description": "Run get-method of smart contracts"
    },
    {
      "name": "Send",
      "description": "Send data to blockchain"
    },
    {
      "name": "Utils",
      "description": "Some useful methods"
    },
    {
      "name": "Configuration",
      "description": "Information about blockchain config"
    },
    {
      "name": "RPC",
      "description": "JSON-RPC and POST endpoints"
    }
  ],
  "components": {
    "parameters": {
      "address": {
        "name": "address",
        "in": "query",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/TonAddr"
        },
        "description": "The account address to query."
      },
      "hash": {
        "name": "hash",
        "in": "query",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/TonHash"
        }
      },
      "hashOptional": {
        "name": "hash",
        "in": "query",
        "required": false,
        "schema": {
          "$ref": "#/components/schemas/TonHash"
        }
      },
      "workchain": {
        "name": "workchain",
        "in": "query",
        "description": "The workchain to query. Use `-1` for masterchain (validators, system contracts, config) or `0` for basechain (regular accounts and contracts). Most user transactions happen on workchain `0`.",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int32"
        }
      },
      "shard": {
        "name": "shard",
        "in": "query",
        "description": "The shard identifier. Masterchain always uses `-9223372036854775808`. For basechain, shards split and merge dynamically. Use the `shards` endpoint to discover current shard configuration.",
        "required": true,
        "schema": {
          "type": "string",
          "x-usrv-cpp-type": "std::int64_t"
        }
      },
      "seqno": {
        "name": "seqno",
        "in": "query",
        "description": "Masterchain block sequence number (block height). Used to query state at a specific point in time. If omitted, returns the current state.",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int32"
        }
      },
      "seqnoOptional": {
        "name": "seqno",
        "in": "query",
        "description": "Query state at a specific block height. If omitted, returns the current state. Use this to look up historical data at a specific point in time.",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int32"
        }
      },
      "rootHashOptional": {
        "name": "root_hash",
        "in": "query",
        "description": "The block's root hash for verification. Together with `file_hash`, this uniquely and cryptographically identifies a block. Only needed when proof of block identity is required.",
        "required": false,
        "schema": {
          "type": "string",
          "x-usrv-cpp-type": "#/components/schemas/TonHash"
        }
      },
      "fileHashOptional": {
        "name": "file_hash",
        "in": "query",
        "description": "The block's file hash for verification. Together with `root_hash`, this provides cryptographic proof of block identity. Only needed for trustless verification.",
        "required": false,
        "schema": {
          "type": "string",
          "x-usrv-cpp-type": "#/components/schemas/TonHash"
        }
      },
      "afterLtOptional": {
        "name": "after_lt",
        "in": "query",
        "description": "Pagination cursor. Pass the `lt` value from the last item in the previous response to get the next page. Transactions and messages are ordered by logical time.",
        "required": false,
        "schema": {
          "type": "string",
          "x-usrv-cpp-format": "std::int64_t"
        }
      },
      "afterAccountHashOptional": {
        "name": "after_hash",
        "in": "query",
        "description": "Secondary pagination cursor for block transactions. When multiple accounts have transactions at the same `lt`, use this to continue from a specific account.",
        "required": false,
        "schema": {
          "type": "string",
          "x-usrv-cpp-type": "#/components/schemas/TonAddrWithoutWorkchain"
        }
      },
      "countOptional": {
        "name": "count",
        "in": "query",
        "description": "Maximum number of items to return. The default is 40. Use smaller values for faster responses or larger values to reduce the number of API calls.",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int64",
          "default": 40,
          "minimum": 1,
          "maximum": 10000
        }
      },
      "limitOptional": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of transactions to return. The default is 10. For accounts with many transactions, use pagination (lt + hash) to fetch more.",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int64",
          "default": 10
        }
      },
      "ltOptional": {
        "name": "lt",
        "in": "query",
        "description": "Starting point for transaction history. Pass the lt from `last_transaction_id` to start from the most recent, or from a specific transaction to continue pagination.",
        "required": false,
        "schema": {
          "type": "string",
          "x-usrv-cpp-type": "std::int64_t"
        }
      },
      "toLtOptional": {
        "name": "to_lt",
        "in": "query",
        "description": "Stop fetching when reaching this logical time. Use this to limit the time range of returned transactions. Set to 0 (default) to fetch all available history.",
        "required": false,
        "schema": {
          "type": "string",
          "x-usrv-cpp-type": "std::int64_t",
          "default": 0
        }
      },
      "archivalOptional": {
        "name": "archival",
        "in": "query",
        "description": "Request data from archival nodes. Regular nodes keep at least the last 2 days of history. Set to true when querying old transactions or historical state. Archival requests may be slower.",
        "required": false,
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "sourceAddress": {
        "name": "source",
        "in": "query",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/TonAddr"
        },
        "description": "Source account address."
      },
      "destinationAddress": {
        "name": "destination",
        "in": "query",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/TonAddr"
        },
        "description": "Destination account address."
      },
      "createdLt": {
        "name": "created_lt",
        "in": "query",
        "description": "The logical time when the message was created. Available in the `created_lt` field of message objects.",
        "required": true,
        "schema": {
          "type": "string",
          "x-usrv-cpp-type": "std::int64_t"
        }
      }
    },
    "responses": {
      "default": {
        "description": "Error response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TonlibErrorResponse"
            }
          }
        }
      },
      "401": {
        "description": "API key does not exist. Check for typos or generate a new key.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 401,
                  "description": "HTTP status code `401`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "API key does not exist"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 401,
              "error": "API key does not exist"
            }
          }
        }
      },
      "403": {
        "description": "API key is not allowed for this network (e.g. testnet key used on mainnet).",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 403,
                  "description": "HTTP status code `403`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "Network not allowed"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 403,
              "error": "Network not allowed"
            }
          }
        }
      },
      "404": {
        "description": "Requested data not found.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 404,
                  "description": "HTTP status code `404`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "transaction not found"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 404,
              "error": "transaction not found"
            }
          }
        }
      },
      "409": {
        "description": "Resource exists but is the wrong type.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 409,
                  "description": "HTTP status code `409`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "Smart contract is not Jetton or NFT"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 409,
              "error": "Smart contract is not Jetton or NFT"
            }
          }
        }
      },
      "422_address": {
        "description": "Invalid address or `seqno` parameter.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 422,
                  "description": "HTTP status code `422`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "empty address",
                    "failed to parse address",
                    "failed to parse seqno",
                    "seqno should be positive"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 422,
              "error": "empty address"
            }
          }
        }
      },
      "422_transaction": {
        "description": "Invalid transaction query parameters.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 422,
                  "description": "HTTP status code `422`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "failed to parse address",
                    "failed to parse hash",
                    "failed to parse lt",
                    "lt should be non-negative",
                    "lt and hash should be used together",
                    "limit should be positive",
                    "limit should be less or equal 1000"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 422,
              "error": "failed to parse address"
            }
          }
        }
      },
      "422_locate": {
        "description": "Invalid locate transaction parameters.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 422,
                  "description": "HTTP status code `422`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "empty source address",
                    "empty destination address",
                    "failed to parse created_lt",
                    "created_lt should be non-negative"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 422,
              "error": "empty source address"
            }
          }
        }
      },
      "422_block": {
        "description": "Invalid block query parameters.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 422,
                  "description": "HTTP status code `422`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "workchain required",
                    "shard required",
                    "seqno required",
                    "failed to parse workchain",
                    "failed to parse shard",
                    "failed to parse root_hash",
                    "failed to parse seqno",
                    "seqno should be positive",
                    "from_seqno should be non-negative"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 422,
              "error": "workchain required"
            }
          }
        }
      },
      "422_lookup": {
        "description": "Invalid block lookup parameters.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 422,
                  "description": "HTTP status code `422`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "failed to parse workchain",
                    "failed to parse shard",
                    "exactly one of seqno, lt, unixtime should be specified",
                    "lt should be non-negative",
                    "unixtime should be non-negative"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 422,
              "error": "failed to parse workchain"
            }
          }
        }
      },
      "422_block_tx": {
        "description": "Invalid block transactions parameters.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 422,
                  "description": "HTTP status code `422`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "failed to parse workchain",
                    "failed to parse shard",
                    "failed to parse seqno",
                    "after_lt and after_hash should be used together",
                    "after_lt should be non-negative",
                    "count should be positive",
                    "count should be less or equal 10000"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 422,
              "error": "failed to parse workchain"
            }
          }
        }
      },
      "422_send": {
        "description": "Invalid send parameters.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 422,
                  "description": "HTTP status code `422`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "empty boc"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 422,
              "error": "empty boc"
            }
          }
        }
      },
      "422_run": {
        "description": "Invalid get method or stack parameters.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 422,
                  "description": "HTTP status code `422`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "Stack should be array",
                    "Invalid stack format: array expected",
                    "Invalid stack entry format: array of exact 2 elements expected",
                    "Expected string as first element in stack entry",
                    "Wrong type of number in stack entry",
                    "Invalid tvm.Cell, base64 string expected",
                    "Invalid tvm.Slice, base64 string expected",
                    "Empty tvm.Cell",
                    "Empty tvm.Slice"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 422,
              "error": "Stack should be array"
            }
          }
        }
      },
      "422_config": {
        "description": "Invalid config parameter request.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 422,
                  "description": "HTTP status code `422`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "failed to parse config_id",
                    "failed to parse param",
                    "only one of config_id or param should be specified",
                    "param should be non-negative"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 422,
              "error": "failed to parse config_id"
            }
          }
        }
      },
      "422_libraries": {
        "description": "Invalid libraries parameter.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 422,
                  "description": "HTTP status code `422`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "failed to parse libraries"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 422,
              "error": "failed to parse libraries"
            }
          }
        }
      },
      "422_jsonrpc": {
        "description": "Invalid JSON-RPC request.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 422,
                  "description": "HTTP status code `422`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "params must contain an object"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 422,
              "error": "params must contain an object"
            }
          }
        }
      },
      "429": {
        "description": "Rate limit exceeded. Back off and retry, or use an API key for higher limits.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 429,
                  "description": "HTTP status code `429`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "Ratelimit exceeded"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 429,
              "error": "Ratelimit exceeded"
            }
          }
        }
      },
      "500_send": {
        "description": "Transaction simulation failed.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 500,
                  "description": "HTTP status code `500`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "Exit code <N> != 0"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 500,
              "error": "Exit code <N> != 0"
            }
          }
        }
      },
      "500_execution": {
        "description": "Get method or simulation execution failed.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 500,
                  "description": "HTTP status code `500`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "Exit code <N> != 0",
                    "Stack size <N> < 5",
                    "Failed to parse int: <value>",
                    "stackEntryNumber expected",
                    "stackEntryCell expected at <N> position",
                    "stackEntryCell or stackEntrySlice expected",
                    "addr_ext is not supported",
                    "addr_var is not supported",
                    "anycast is not supported"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 500,
              "error": "Exit code <N> != 0"
            }
          }
        }
      },
      "500_token": {
        "description": "Failed to retrieve or parse token data.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 500,
                  "description": "HTTP status code `500`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "Failed to unpack token data",
                    "Invalid uri",
                    "missing uri field in offchain data",
                    "failed to serialize TokenData",
                    "Exit code <N> != 0",
                    "Stack size <N> < 5"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 500,
              "error": "Failed to unpack token data"
            }
          }
        }
      },
      "504": {
        "description": "Timeout waiting for liteserver response.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 504,
                  "description": "HTTP status code `504`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "LITE_SERVER_NETWORK timeout"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 504,
              "error": "LITE_SERVER_NETWORK timeout"
            }
          }
        }
      },
      "542": {
        "description": "Liteserver-specific error or unsupported stack type.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "ok",
                "code",
                "error"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "const": false,
                  "description": "Always `false` for error responses."
                },
                "code": {
                  "type": "integer",
                  "const": 542,
                  "description": "HTTP status code `542`."
                },
                "error": {
                  "type": "string",
                  "enum": [
                    "Unsupported stack entry type: <type>"
                  ]
                },
                "@extra": {
                  "type": "string",
                  "description": "Extra data passed through from the request."
                }
              }
            },
            "example": {
              "ok": false,
              "code": 542,
              "error": "Unsupported stack entry type: <type>"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "APIKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key header of the form `X-API-Key: <token>`, where `<token>` is the API key. Requests without a key are limited to 1 RPS. Refer to the [authentication guide](/ecosystem/api/toncenter/v2-authentication) for details."
      },
      "APIKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key query parameter of the form `?api_key=<token>`, where `<token>` is the API key. Equivalent to the header method. Refer to the [authentication guide](/ecosystem/api/toncenter/v2-authentication) for details."
      }
    },
    "schemas": {
      "EmptyRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [],
        "properties": {},
        "description": "Empty request body for endpoints that require no parameters."
      },
      "AddressRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "address"
        ],
        "properties": {
          "address": {
            "$ref": "#/components/schemas/TonAddr"
          }
        },
        "description": "Request containing a single address parameter."
      },
      "AddressWithSeqnoRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "address"
        ],
        "properties": {
          "address": {
            "$ref": "#/components/schemas/TonAddr"
          },
          "seqno": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "format": "int32"
              }
            ],
            "x-usrv-cpp-type": "std::int32_t",
            "description": "Masterchain block sequence number. Query the account state as it was at this block height. If omitted, returns the current state."
          }
        }
      },
[...]
