{
  "openapi": "3.1.1",
  "info": {
    "title": "TON HTTP API C++",
    "description": "This API enables HTTP access to TON blockchain - getting accounts and wallets information, looking up blocks and transactions, sending messages to the blockchain, calling get methods of smart contracts, and more.\n\nIn addition to REST API, all methods are available through [JSON-RPC endpoint](#json%20rpc)  with `method` equal to method name and `params` passed as a dictionary.\n\nThe response contains a JSON object, which always has a boolean field `ok` and either `error` or `result`. If `ok` equals true, the request was successful and the result of the query can be found in the `result` field. In case of an unsuccessful request, `ok` equals false and the error is explained in the `error`.\n\nAPI Key should be sent either as `api_key` query parameter or `X-API-Key` header\n",
    "version": "2.1.1"
  },
  "servers": [
    {
      "url": "https://toncenter.com",
      "description": "TON Mainnet"
    },
    {
      "url": "https://testnet.toncenter.com",
      "description": "TON Testnet"
    }
  ],
  "paths": {
    "/api/v2/jsonRPC": {
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "JSON-RPC endpoint",
        "description": "All API methods are available through this single endpoint using JSON-RPC 2.0 protocol. Send the method name in the `method` field and parameters as a dictionary in `params`. Useful when you need to call multiple methods in sequence or prefer JSON-RPC over REST.",
        "operationId": "jsonRPC_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/detectAddress": {
      "get": {
        "tags": [
          "Utils"
        ],
        "summary": "Detect address",
        "description": "Validates an address and returns it in all standard formats. Use this to convert between address formats or to validate user input. Returns raw format (0:abc), base64 bounceable (EQ), base64 non-bounceable (UQ), and URL-safe variants.",
        "operationId": "detectAddress_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectAddressResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Detect address",
        "description": "Validates an address and returns it in all standard formats. Use this to convert between address formats or to validate user input. Returns raw format (0:abc...), base64 bounceable (EQ...), base64 non-bounceable (UQ...), and URL-safe variants.",
        "operationId": "detectAddress_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DetectAddressRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectAddressResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/detectHash": {
      "get": {
        "tags": [
          "Utils"
        ],
        "summary": "Detect hash",
        "description": "Validates a hash and returns it in all standard formats. Use this to convert between hex (64 chars) and base64 (44 chars) representations. Works with any 256-bit hash including transaction hashes, block hashes, and message hashes.",
        "operationId": "detectHash_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/hash"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectHashResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Detect hash",
        "description": "Validates a hash and returns it in all standard formats. Use this to convert between hex (64 chars) and base64 (44 chars) representations. Works with any 256-bit hash including transaction hashes, block hashes, and message hashes.",
        "operationId": "detectHash_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DetectHashRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectHashResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/packAddress": {
      "get": {
        "tags": [
          "Utils"
        ],
        "summary": "Pack address",
        "description": "Converts a raw address to user-friendly base64 format. Raw addresses use the format `workchain:hex` (e.g., `0:abc...`). The packed format is shorter and includes a checksum for error detection.",
        "operationId": "packAddress_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackAddressResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Pack address",
        "description": "Converts a raw address to user-friendly base64 format. Raw addresses use the format `workchain:hex` (e.g., `0:abc...`). The packed format is shorter and includes a checksum for error detection.",
        "operationId": "packAddress_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PackAddressRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackAddressResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/unpackAddress": {
      "get": {
        "tags": [
          "Utils"
        ],
        "summary": "Unpack address",
        "description": "Converts a user-friendly base64 address back to its raw components. Returns the workchain ID, account hex, and flags indicating if the address is bounceable or testnet-only.",
        "operationId": "unpackAddress_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnpackAddressResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Unpack address",
        "description": "Converts a user-friendly base64 address back to its raw components. Returns the workchain ID, account hex, and flags indicating if the address is bounceable or testnet-only.",
        "operationId": "unpackAddress_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnpackAddressRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnpackAddressResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getAddressInformation": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get address information",
        "description": "Returns the current state of any account on the TON blockchain. Includes the balance (in nanotons), smart contract code and data (if deployed), account status, and a reference to the last transaction. This is the primary endpoint for checking if an address exists and what's deployed there.",
        "operationId": "getAddressInformation_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          },
          {
            "$ref": "#/components/parameters/seqnoOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressInformationResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get address information",
        "description": "Returns the current state of any account on the TON blockchain. Includes the balance (in nanotons), smart contract code and data (if deployed), account status, and a reference to the last transaction. This is the primary endpoint for checking if an address exists and what's deployed there.",
        "operationId": "getAddressInformation_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressInformationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressInformationResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getExtendedAddressInformation": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get extended address information",
        "description": "Returns detailed account information with parsed contract state. For wallet contracts, identifies the wallet version (v3, v4, v5) and extracts wallet-specific fields like seqno and public key. For other contracts, returns the raw state.",
        "operationId": "getExtendedAddressInformation_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          },
          {
            "$ref": "#/components/parameters/seqnoOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedAddressInformationResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get extended address information",
        "description": "Returns detailed account information with parsed contract state. For wallet contracts, identifies the wallet version (v3, v4, v5) and extracts wallet-specific fields like seqno and public key. For other contracts, returns the raw state.",
        "operationId": "getExtendedAddressInformation_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtendedAddressInformationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedAddressInformationResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getWalletInformation": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get wallet information",
        "description": "Returns wallet-specific information for an address. If the address is a known wallet contract, returns the wallet type, current seqno (needed for sending transactions), and wallet_id. Always check `wallet: true` before using wallet-specific fields. Call this before sending any transaction to get the current seqno.",
        "operationId": "getWalletInformation_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          },
          {
            "$ref": "#/components/parameters/seqnoOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletInformationResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get wallet information",
        "description": "Returns wallet-specific information for an address. If the address is a known wallet contract, returns the wallet type, current seqno (needed for sending transactions), and wallet_id. Always check `wallet: true` before using wallet-specific fields. Call this before sending any transaction to get the current seqno.",
        "operationId": "getWalletInformation_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WalletInformationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletInformationResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getAddressBalance": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get address balance",
        "description": "Returns just the TON balance of an account in nanotons. 1 TON = 1,000,000,000 nanotons. This is a lightweight alternative to getAddressInformation when you only need the balance. Returns \"0\" for addresses that don't exist yet.",
        "operationId": "getAddressBalance_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          },
          {
            "$ref": "#/components/parameters/seqnoOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressBalanceResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get address balance",
        "description": "Returns just the TON balance of an account in nanotons. 1 TON = 1,000,000,000 nanotons. This is a lightweight alternative to getAddressInformation when you only need the balance. Returns \"0\" for addresses that don't exist yet.",
        "operationId": "getAddressBalance_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressBalanceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressBalanceResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getAddressState": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get address state",
        "description": "Returns the lifecycle state of an account. Possible values: `uninitialized` (address has no deployed contract but can receive TON), `active` (contract is deployed and working), `frozen` (contract suspended due to zero balance, send TON to unfreeze). Check this before interacting with a contract.",
        "operationId": "getAddressState_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          },
          {
            "$ref": "#/components/parameters/seqnoOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressStateResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get address state",
        "description": "Returns the lifecycle state of an account. Possible values: `uninitialized` (address has no deployed contract but can receive TON), `active` (contract is deployed and working), `frozen` (contract suspended due to zero balance, send TON to unfreeze). Check this before interacting with a contract.",
        "operationId": "getAddressState_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressStateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressStateResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getTokenData": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get token data",
        "description": "Returns metadata for Jetton or NFT contracts. Automatically detects the contract type and returns appropriate fields. For Jetton masters: total supply, admin, metadata. For Jetton wallets: balance, owner. For NFT items: collection, owner, content. For NFT collections: item count, metadata.",
        "operationId": "getTokenData_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenDataResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get token data",
        "description": "Returns metadata for Jetton or NFT contracts. Automatically detects the contract type and returns appropriate fields. For Jetton masters: total supply, admin, metadata. For Jetton wallets: balance, owner. For NFT items: collection, owner, content. For NFT collections: item count, metadata.",
        "operationId": "getTokenData_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenDataResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getMasterchainInfo": {
      "get": {
        "tags": [
          "blocks"
        ],
        "summary": "Get masterchain info",
        "description": "Returns the current state of the TON masterchain. The `last` field contains the latest block, which you'll need for querying current state. The seqno in `last` is the current block height. Call this first to get the latest block reference for other queries.",
        "operationId": "getMasterchainInfo_get",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterchainInfoResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get masterchain info",
        "description": "Returns the current state of the TON masterchain. The `last` field contains the latest block, which you'll need for querying current state. The seqno in `last` is the current block height. Call this first to get the latest block reference for other queries.",
        "operationId": "getMasterchainInfo_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MasterchainInfoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterchainInfoResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getMasterchainBlockSignatures": {
      "get": {
        "tags": [
          "blocks"
        ],
        "summary": "Get masterchain block signatures",
        "description": "Returns validator signatures for a specific masterchain block. Each signature proves that a validator approved this block. Use this for building cryptographic proofs or verifying block authenticity in trustless applications.",
        "operationId": "getMasterchainBlockSignatures_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/seqno"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterchainBlockSignaturesResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get masterchain block signatures",
        "description": "Returns validator signatures for a specific masterchain block. Each signature proves that a validator approved this block. Use this for building cryptographic proofs or verifying block authenticity in trustless applications.",
        "operationId": "getMasterchainBlockSignatures_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MasterchainBlockSignaturesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterchainBlockSignaturesResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getShardBlockProof": {
      "get": {
        "tags": [
          "blocks"
        ],
        "summary": "Get shard block proof",
        "description": "Returns a Merkle proof that links a shardchain block to a masterchain block. This proof cryptographically verifies that the shard block is part of the canonical chain. Essential for light clients and cross-chain bridges that need to verify shard data without trusting the API.",
        "operationId": "getShardBlockProof_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/workchain"
          },
          {
            "$ref": "#/components/parameters/shard"
          },
          {
            "$ref": "#/components/parameters/seqno"
          },
          {
            "name": "from_seqno",
            "in": "query",
            "description": "Seqno of masterchain block starting from which proof is required. If not specified latest masterchain block is used",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShardBlockProofResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get shard block proof",
        "description": "Returns a Merkle proof that links a shardchain block to a masterchain block. This proof cryptographically verifies that the shard block is part of the canonical chain. Essential for light clients and cross-chain bridges that need to verify shard data without trusting the API.",
        "operationId": "getShardBlockProof_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShardBlockProofRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShardBlockProofResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getConsensusBlock": {
      "get": {
        "tags": [
          "blocks"
        ],
        "summary": "Get consensus block",
        "description": "Returns the latest block that has reached consensus. Unlike the latest block from getMasterchainInfo, this block is guaranteed to be final and will never be reverted. Use this when you need absolute certainty that a transaction is permanent.",
        "operationId": "getConsensusBlock_get",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsensusBlockResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get consensus block",
        "description": "Returns the latest block that has reached consensus. Unlike the latest block from getMasterchainInfo, this block is guaranteed to be final and will never be reverted. Use this when you need absolute certainty that a transaction is permanent.",
        "operationId": "getConsensusBlock_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsensusBlockRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsensusBlockResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/lookupBlock": {
      "get": {
        "tags": [
          "blocks"
        ],
        "summary": "Lookup block",
        "description": "Finds a block by position or time. Specify workchain and shard, then provide either: seqno (exact block number), lt (find block containing this logical time), or unixtime (find block closest to this timestamp). Returns the full block ID including hashes needed for verification.",
        "operationId": "lookupBlock_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/workchain"
          },
          {
            "$ref": "#/components/parameters/shard"
          },
          {
            "$ref": "#/components/parameters/seqnoOptional"
          },
          {
            "name": "lt",
            "in": "query",
            "description": "Logical time of a block",
            "required": false,
            "schema": {
              "type": "string",
              "x-usrv-cpp-format": "std::int64_t"
            }
          },
          {
            "name": "unixtime",
            "in": "query",
            "description": "UNIX timestamp of a block",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupBlockResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Lookup block",
        "description": "Finds a block by position or time. Specify workchain and shard, then provide either: seqno (exact block number), lt (find block containing this logical time), or unixtime (find block closest to this timestamp). Returns the full block ID including hashes needed for verification.",
        "operationId": "lookupBlock_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookupBlockRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupBlockResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getShards": {
      "get": {
        "tags": [
          "blocks"
        ],
        "summary": "Get Shards",
        "description": "Get shards information by given masterchain block seqno",
        "operationId": "getShards_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/seqno",
            "description": "Seqno of masterchain block"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get Shards",
        "description": "Get shards information",
        "operationId": "getShards_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShardsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getBlockHeader": {
      "get": {
        "tags": [
          "blocks"
        ],
        "summary": "Get block header",
        "description": "Returns block metadata without the full transaction list. Includes timestamps, validator info, and references to previous blocks. Use this for block explorers or when you need block info but not the transactions inside.",
        "operationId": "getBlockHeader_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/workchain"
          },
          {
            "$ref": "#/components/parameters/shard"
          },
          {
            "$ref": "#/components/parameters/seqno"
          },
          {
            "$ref": "#/components/parameters/rootHashOptional"
          },
          {
            "$ref": "#/components/parameters/fileHashOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockHeaderResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get block header",
        "description": "Returns block metadata without the full transaction list. Includes timestamps, validator info, and references to previous blocks. Use this for block explorers or when you need block info but not the transactions inside.",
        "operationId": "getBlockHeader_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockHeaderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockHeaderResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getOutMsgQueueSize": {
      "get": {
        "tags": [
          "blocks"
        ],
        "summary": "Get outbound message queue size",
        "description": "Returns the current size of the outbound message queue for each shard. A growing queue indicates network congestion. If the queue is large, your transactions may take longer to process. Monitor this to detect network issues.",
        "operationId": "getOutMsgQueueSize_get",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutMsgQueueSizeResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get outbound message queue size",
        "description": "Returns the current size of the outbound message queue for each shard. A growing queue indicates network congestion. If the queue is large, your transactions may take longer to process. Monitor this to detect network issues.",
        "operationId": "getOutMsgQueueSize_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutMsgQueueSizeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutMsgQueueSizeResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getBlockTransactions": {
      "get": {
        "tags": [
          "transactions"
        ],
        "summary": "Get block transactions",
        "description": "Returns a summary of transactions in a specific block. Each item contains the account address and transaction ID, but not full transaction details. Use `count` to limit results and `after_lt`/`after_hash` for pagination. Call getTransactions with each transaction ID to get full details.",
        "operationId": "getBlockTransactions_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/workchain"
          },
          {
            "$ref": "#/components/parameters/shard"
          },
          {
            "$ref": "#/components/parameters/seqno"
          },
          {
            "$ref": "#/components/parameters/rootHashOptional"
          },
          {
            "$ref": "#/components/parameters/fileHashOptional"
          },
          {
            "$ref": "#/components/parameters/afterLtOptional"
          },
          {
            "$ref": "#/components/parameters/afterAccountHashOptional"
          },
          {
            "$ref": "#/components/parameters/countOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockTransactionsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get block transactions",
        "description": "Returns a summary of transactions in a specific block. Each item contains the account address and transaction ID, but not full transaction details. Use `count` to limit results and `after_lt`/`after_hash` for pagination. Call getTransactions with each transaction ID to get full details.",
        "operationId": "getBlockTransactions_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockTransactionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockTransactionsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getBlockTransactionsExt": {
      "get": {
        "tags": [
          "transactions"
        ],
        "summary": "Get block transactions (extended)",
        "description": "Returns full transaction details for all transactions in a block. Unlike getBlockTransactions, this includes complete transaction data with messages, fees, and state changes. Useful for block explorers and indexers that need to process entire blocks.",
        "operationId": "getBlockTransactionsExt_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/workchain"
          },
          {
            "$ref": "#/components/parameters/shard"
          },
          {
            "$ref": "#/components/parameters/seqno"
          },
          {
            "$ref": "#/components/parameters/rootHashOptional"
          },
          {
            "$ref": "#/components/parameters/fileHashOptional"
          },
          {
            "$ref": "#/components/parameters/afterLtOptional"
          },
          {
            "$ref": "#/components/parameters/afterAccountHashOptional"
          },
          {
            "$ref": "#/components/parameters/countOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockTransactionsExtResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get block transactions (extended)",
        "description": "Returns full transaction details for all transactions in a block. Unlike getBlockTransactions, this includes complete transaction data with messages, fees, and state changes. Useful for block explorers and indexers that need to process entire blocks.",
        "operationId": "getBlockTransactionsExt_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockTransactionsExtRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockTransactionsExtResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getTransactions": {
      "get": {
        "tags": [
          "transactions"
        ],
        "summary": "Get transactions",
        "description": "Returns transaction history for an account. Transactions are returned newest-first. Each transaction shows the incoming message that triggered it, all outgoing messages, and fees paid. For pagination: use the `lt` and `hash` from the oldest transaction as the starting point for the next request.",
        "operationId": "getTransactions_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          },
          {
            "$ref": "#/components/parameters/limitOptional"
          },
          {
            "$ref": "#/components/parameters/ltOptional"
          },
          {
            "$ref": "#/components/parameters/hashOptional",
            "description": "Transaction hash to start from"
          },
          {
            "$ref": "#/components/parameters/toLtOptional"
          },
          {
            "$ref": "#/components/parameters/archivalOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get transactions",
        "description": "Returns transaction history for an account. Transactions are returned newest-first. Each transaction shows the incoming message that triggered it, all outgoing messages, and fees paid. For pagination: use the `lt` and `hash` from the oldest transaction as the starting point for the next request.",
        "operationId": "getTransactions_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getTransactionsStd": {
      "get": {
        "tags": [
          "transactions"
        ],
        "summary": "Get Transactions Std",
        "description": "Standardized version of getTransactions",
        "operationId": "getTransactionsStd_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/address"
          },
          {
            "$ref": "#/components/parameters/limitOptional"
          },
          {
            "$ref": "#/components/parameters/ltOptional"
          },
          {
            "$ref": "#/components/parameters/hashOptional",
            "description": "Transaction hash to start from"
          },
          {
            "$ref": "#/components/parameters/toLtOptional"
          },
          {
            "$ref": "#/components/parameters/archivalOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get Transactions Std",
        "description": "Standardized version of getTransactions",
        "operationId": "getTransactionsStd_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionsStdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TonlibResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/tryLocateTx": {
      "get": {
        "tags": [
          "transactions"
        ],
        "summary": "Try locate transaction",
        "description": "Finds a transaction by message parameters. Given a source address, destination address, and message creation time (created_lt), returns the transaction that processed this message. Useful when you sent a message and need to find when it was executed.",
        "operationId": "tryLocateTx_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceAddress"
          },
          {
            "$ref": "#/components/parameters/destinationAddress"
          },
          {
            "$ref": "#/components/parameters/createdLt"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocateTxResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Try locate transaction",
        "description": "Finds a transaction by message parameters. Given a source address, destination address, and message creation time (created_lt), returns the transaction that processed this message. Useful when you sent a message and need to find when it was executed.",
        "operationId": "tryLocateTx_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TryLocateTxRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocateTxResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/tryLocateResultTx": {
      "get": {
        "tags": [
          "transactions"
        ],
        "summary": "Try locate result transaction",
        "description": "Finds the transaction that received a specific message. Given message parameters, returns the transaction on the destination account that processed the incoming message. Use this to trace message delivery across accounts.",
        "operationId": "tryLocateResultTx_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceAddress"
          },
          {
            "$ref": "#/components/parameters/destinationAddress"
          },
          {
            "$ref": "#/components/parameters/createdLt"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocateResultTxResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Try locate result transaction",
        "description": "Finds the transaction that received a specific message. Given message parameters, returns the transaction on the destination account that processed the incoming message. Use this to trace message delivery across accounts.",
        "operationId": "tryLocateResultTx_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TryLocateResultTxRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocateResultTxResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/tryLocateSourceTx": {
      "get": {
        "tags": [
          "transactions"
        ],
        "summary": "Try locate source transaction",
        "description": "Finds the transaction that sent a specific message. Given message parameters, returns the transaction on the source account that created this outgoing message. Use this to trace where a message originated from.",
        "operationId": "tryLocateSourceTx_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceAddress"
          },
          {
            "$ref": "#/components/parameters/destinationAddress"
          },
          {
            "$ref": "#/components/parameters/createdLt"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocateSourceTxResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Try locate source transaction",
        "description": "Finds the transaction that sent a specific message. Given message parameters, returns the transaction on the source account that created this outgoing message. Use this to trace where a message originated from.",
        "operationId": "tryLocateSourceTx_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TryLocateSourceTxRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocateSourceTxResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getConfigParam": {
      "get": {
        "tags": [
          "configuration"
        ],
        "summary": "Get config parameter",
        "description": "Returns a specific blockchain configuration parameter. TON stores all network settings on-chain as numbered parameters. Common ones: 0 (config contract), 1 (elector), 15 (election timing), 17 (stake limits), 20-21 (gas prices), 34 (current validators). Check TON documentation for the full list.",
        "operationId": "getConfigParam_get",
        "parameters": [
          {
            "name": "config_id",
            "in": "query",
            "description": "Parameter number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "seqno",
            "in": "query",
            "description": "Block seqno",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigParamResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get config parameter",
        "description": "Returns a specific blockchain configuration parameter. TON stores all network settings on-chain as numbered parameters. Common ones: 0 (config contract), 1 (elector), 15 (election timing), 17 (stake limits), 20-21 (gas prices), 34 (current validators). Check TON documentation for the full list.",
        "operationId": "getConfigParam_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigParamRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigParamResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getConfigAll": {
      "get": {
        "tags": [
          "configuration"
        ],
        "summary": "Get all config parameters",
        "description": "Returns all blockchain configuration parameters at once. Includes gas prices, validator settings, workchain configs, and governance rules. Use the optional seqno to get historical configuration at a specific block height.",
        "operationId": "getConfigAll_get",
        "parameters": [
          {
            "name": "seqno",
            "in": "query",
            "description": "Block seqno",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigAllResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get all config parameters",
        "description": "Returns all blockchain configuration parameters at once. Includes gas prices, validator settings, workchain configs, and governance rules. Use the optional seqno to get historical configuration at a specific block height.",
        "operationId": "getConfigAll_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigAllRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigAllResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/getLibraries": {
      "get": {
        "tags": [
          "configuration"
        ],
        "summary": "Get libraries",
        "description": "Returns smart contract library code by hash. Some contracts reference shared libraries instead of including all code directly. When you encounter a library reference in contract code, use this endpoint to fetch the actual library implementation.",
        "operationId": "getLibraries_get",
        "parameters": [
          {
            "name": "libraries",
            "in": "query",
            "description": "Hashes of libraries",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "#/components/schemas/TonHash"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibrariesResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      },
      "post": {
        "tags": [
          "rpc"
        ],
        "summary": "Get libraries",
        "description": "Returns smart contract library code by hash. Some contracts reference shared libraries instead of including all code directly. When you encounter a library reference in contract code, use this endpoint to fetch the actual library implementation.",
        "operationId": "getLibraries_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LibrariesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibrariesResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/runGetMethod": {
      "post": {
        "tags": [
          "run method",
          "rpc"
        ],
        "summary": "Run get method",
        "description": "Executes a read-only method on a smart contract. Get methods let you query contract state without sending a transaction. Common methods: `seqno` (wallet sequence number), `get_wallet_data` (wallet info), `get_jetton_data` (token info). Pass method arguments in the `stack` array.",
        "operationId": "runGetMethod_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunGetMethodRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunGetMethodResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/runGetMethodStd": {
      "post": {
        "tags": [
          "run method",
          "rpc"
        ],
        "summary": "Run get method (standard)",
        "description": "Executes a get method with typed stack entries. Unlike runGetMethod which uses arrays, this endpoint uses explicit types (TvmStackEntryNumber, TvmStackEntryCell, etc.) for clearer input/output handling. Recommended for complex method calls.",
        "operationId": "runGetMethodStd_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunGetMethodStdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunGetMethodStdResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/sendBoc": {
      "post": {
        "tags": [
          "send",
          "rpc"
        ],
        "summary": "Send BOC",
        "description": "Broadcasts a signed message to the TON network. The `boc` parameter must contain a complete, signed external message in base64 format. The API validates the message and forwards it to validators. Returns immediately after acceptance; use getTransactions to confirm the transaction was processed.",
        "operationId": "sendBoc_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendBocRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendBocResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/sendBocReturnHash": {
      "post": {
        "tags": [
          "send",
          "rpc"
        ],
        "summary": "Send BOC (return hash)",
        "description": "Broadcasts a signed message and returns its hash. Same as sendBoc, but also returns the message hash which you can use to track the message status. Use tryLocateTx with this hash to find when the message was processed.",
        "operationId": "sendBocReturnHash_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendBocRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendBocReturnHashResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    },
    "/api/v2/estimateFee": {
      "post": {
        "tags": [
          "send",
          "rpc"
        ],
        "summary": "Estimate fee",
        "description": "Calculates the fees required to send a message. Provide the destination address and message body. For new contract deployments, also include init_code and init_data. Set ignore_chksig to true since you're estimating before signing. Returns a breakdown of storage, gas, and forwarding fees.",
        "operationId": "estimateFee_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EstimateFeeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateFeeResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Utils",
      "description": "Some useful methods"
    },
    {
      "name": "accounts",
      "description": "Information about accounts"
    },
    {
      "name": "blocks",
      "description": "Information about blocks"
    },
    {
      "name": "transactions",
      "description": "Fetching and locating transactions"
    },
    {
      "name": "configuration",
      "description": "Information about blockchain config"
    },
    {
      "name": "run method",
      "description": "Run get-method of smart contracts"
    },
    {
      "name": "send",
      "description": "Send data to blockchain"
    },
    {
      "name": "rpc",
      "description": "JSON-RPC and POST endpoints"
    }
  ],
  "components": {
    "parameters": {
      "address": {
        "name": "address",
        "in": "query",
        "description": "The account address to query. You can use any format: raw (0:abcd), base64 (EQ), or base64url (UQ). The API automatically detects and converts the format.",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/TonAddr"
        }
      },
      "hash": {
        "name": "hash",
        "in": "query",
        "description": "A 256-bit hash in hex (64 chars) or base64 (44 chars) format. Used to identify blocks, transactions, and messages uniquely.",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/TonHash"
        }
      },
      "hashOptional": {
        "name": "hash",
        "in": "query",
        "description": "A 256-bit hash in hex (64 chars) or base64 (44 chars) format. Used to identify blocks, transactions, and messages uniquely.",
        "required": false,
        "schema": {
          "$ref": "#/components/schemas/TonHash"
        }
      },
      "workchain": {
        "name": "workchain",
        "in": "query",
        "description": "The workchain to query. Use -1 for masterchain (validators, system contracts, config) or 0 for basechain (regular accounts and contracts). Most user transactions happen on workchain 0.",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int32"
        }
      },
      "shard": {
        "name": "shard",
        "in": "query",
        "description": "The shard identifier. Masterchain always uses -9223372036854775808. For basechain, shards split and merge dynamically. Use the `shards` endpoint to discover current shard configuration.",
        "required": true,
        "schema": {
          "type": "string",
          "x-usrv-cpp-type": "std::int64_t"
        }
      },
      "seqno": {
        "name": "seqno",
        "in": "query",
        "description": "The block sequence number. Each shard numbers its blocks starting from 0. For masterchain, this is also called the block height. Higher numbers are more recent blocks.",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int32"
        }
      },
      "seqnoOptional": {
        "name": "seqno",
        "in": "query",
        "description": "Query state at a specific block height. If omitted, returns the current state. Use this to look up historical data at a specific point in time.",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int32"
        }
      },
      "rootHashOptional": {
        "name": "root_hash",
        "in": "query",
        "description": "The block's root hash for verification. Together with file_hash, this uniquely and cryptographically identifies a block. Only needed when you require proof of block identity.",
        "required": false,
        "schema": {
          "type": "string",
          "x-usrv-cpp-type": "#/components/schemas/TonHash"
        }
      },
      "fileHashOptional": {
        "name": "file_hash",
        "in": "query",
        "description": "The block's file hash for verification. Together with root_hash, this provides cryptographic proof of block identity. Only needed for trustless verification.",
        "required": false,
        "schema": {
          "type": "string",
          "x-usrv-cpp-type": "#/components/schemas/TonHash"
        }
      },
      "afterLtOptional": {
        "name": "after_lt",
        "in": "query",
        "description": "Pagination cursor. Pass the `lt` value from the last item in your previous response to get the next page. Transactions and messages are ordered by logical time.",
        "required": false,
        "schema": {
          "type": "string",
          "x-usrv-cpp-format": "std::int64_t"
        }
      },
      "afterAccountHashOptional": {
        "name": "after_hash",
        "in": "query",
        "description": "Secondary pagination cursor for block transactions. When multiple accounts have transactions at the same lt, use this to continue from a specific account.",
        "required": false,
        "schema": {
          "type": "string",
          "x-usrv-cpp-type": "#/components/schemas/TonAddrWithoutWorkchain"
        }
      },
      "countOptional": {
        "name": "count",
        "in": "query",
        "description": "Maximum number of items to return. The default is 40. Use smaller values for faster responses or larger values to reduce the number of API calls.",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int64",
          "default": 40
        }
      },
      "limitOptional": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of transactions to return. The default is 10. For accounts with many transactions, use pagination (lt + hash) to fetch more.",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int64",
          "default": 10
        }
      },
      "ltOptional": {
        "name": "lt",
        "in": "query",
        "description": "Starting point for transaction history. Pass the lt from `last_transaction_id` to start from the most recent, or from a specific transaction to continue pagination.",
        "required": false,
        "schema": {
          "type": "string",
          "x-usrv-cpp-type": "std::int64_t"
        }
      },
      "toLtOptional": {
        "name": "to_lt",
        "in": "query",
        "description": "Stop fetching when reaching this logical time. Use this to limit the time range of returned transactions. Set to 0 (default) to fetch all available history.",
        "required": false,
        "schema": {
          "type": "string",
          "x-usrv-cpp-type": "std::int64_t",
          "default": 0
        }
      },
      "archivalOptional": {
        "name": "archival",
        "in": "query",
        "description": "Request data from archival nodes. Regular nodes only keep recent history (about 2 days). Set to true when querying old transactions or historical state. Archival requests may be slower.",
        "required": false,
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "sourceAddress": {
        "name": "source",
        "in": "query",
        "description": "The sender's address for the message you're looking for.",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/TonAddr"
        }
      },
      "destinationAddress": {
        "name": "destination",
        "in": "query",
        "description": "The recipient's address for the message you're looking for.",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/TonAddr"
        }
      },
      "createdLt": {
        "name": "created_lt",
        "in": "query",
        "description": "The logical time when the message was created. You can find this in the `created_lt` field of message objects.",
        "required": true,
        "schema": {
          "type": "string",
          "x-usrv-cpp-type": "std::int64_t"
        }
      }
    },
    "responses": {
      "default": {
        "description": "Error response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TonlibErrorResponse"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "APIKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "APIKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    },
    "schemas": {
      "EmptyRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [],
        "properties": {},
        "description": "Empty request body for endpoints that require no parameters."
      },
      "AddressRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "address"
        ],
        "properties": {
          "address": {
            "$ref": "#/components/schemas/TonAddr",
            "description": "The account address in user-friendly format."
          }
        },
        "description": "Request containing a single address parameter."
      },
      "AddressWithSeqnoRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "address"
        ],
        "properties": {
          "address": {
            "$ref": "#/components/schemas/TonAddr",
            "description": "The account address in user-friendly format."
          },
          "seqno": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "format": "int32"
              }
            ],
            "x-usrv-cpp-type": "std::int32_t",
            "description": "Block or wallet sequence number. For blocks, this is the block height. For wallets, increment this for each outgoing transaction."
          }
        }
      },
      "SeqnoRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "seqno"
        ],
        "properties": {
          "seqno": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "format": "int32"
              }
            ],
            "x-usrv-cpp-type": "std::int32_t",
            "description": "Block or wallet sequence number. For blocks, this is the block height. For wallets, increment this for each outgoing transaction."
          }
        }
      },
      "DetectAddressRequest": {
        "$ref": "#/components/schemas/AddressRequest"
      },
      "DetectHashRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "hash"
        ],
        "properties": {
          "hash": {
            "$ref": "#/components/schemas/TonHash",
            "description": "Unique identifier hash for this object."
          }
        }
      },
      "PackAddressRequest": {
        "$ref": "#/components/schemas/AddressRequest"
      },
      "UnpackAddressRequest": {
        "$ref": "#/components/schemas/AddressRequest"
      },
      "AddressInformationRequest": {
        "$ref": "#/components/schemas/AddressWithSeqnoRequest"
      },
      "ExtendedAddressInformationRequest": {
        "$ref": "#/components/schemas/AddressWithSeqnoRequest"
      },
      "WalletInformationRequest": {
        "$ref": "#/components/schemas/AddressWithSeqnoRequest"
      },
      "AddressBalanceRequest": {
        "$ref": "#/components/schemas/AddressWithSeqnoRequest"
      },
      "AddressStateRequest": {
        "$ref": "#/components/schemas/AddressWithSeqnoRequest"
      },
      "TokenDataRequest": {
        "$ref": "#/components/schemas/AddressWithSeqnoRequest"
      },
      "MasterchainInfoRequest": {
        "$ref": "#/components/schemas/EmptyRequest"
      },
      "MasterchainBlockSignaturesRequest": {
        "$ref": "#/components/schemas/SeqnoRequest"
      },
      "ShardBlockProofRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "workchain",
          "shard",
          "seqno"
        ],
        "properties": {
          "workchain": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "format": "int32"
              }
            ],
            "x-usrv-cpp-type": "std::int32_t",
            "description": "Workchain ID: -1 for masterchain, 0 for basechain. Most user transactions are on workchain 0."
          },
          "shard": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "format": "int64",
                "x-usrv-cpp-type": "std::int64_t"
              }
            ],
            "x-usrv-cpp-type": "std::int64_t",
            "description": "Shard identifier. A signed 64-bit integer. Masterchain uses -9223372036854775808."
          },
          "seqno": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "format": "int32"
              }
            ],
            "x-usrv-cpp-type": "std::int32_t",
            "description": "Block or wallet sequence number. For blocks, this is the block height. For wallets, increment this for each outgoing transaction."
          },
          "from_seqno": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "format": "int32"
              }
            ],
            "x-usrv-cpp-type": "std::int32_t",
            "description": "Starting masterchain block for proof generation."
          }
        }
      },
      "ConsensusBlockRequest": {
        "$ref": "#/components/schemas/EmptyRequest"
      },
      "LookupBlockRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "workchain",
          "shard"
        ],
        "properties": {
          "workchain": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "format": "int32"
              }
            ],
            "x-usrv-cpp-type": "std::int32_t",
            "description": "Workchain ID: -1 for masterchain, 0 for basechain. Most user transactions are on workchain 0."
          },
          "shard": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "format": "int64",
                "x-usrv-cpp-type": "std::int64_t"
              }
            ],
            "x-usrv-cpp-type": "std::int64_t",
            "description": "Shard identifier. A signed 64-bit integer. Masterchain uses -9223372036854775808."
          },
          "seqno": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "format": "int32"
              }
            ],
            "x-usrv-cpp-type": "std::int32_t",
            "description": "Block or wallet sequence number. For blocks, this is the block height. For wallets, increment this for each outgoing transaction."
          },
          "lt": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "format": "int64",
                "x-usrv-cpp-type": "std::int64_t"
              }
            ],
            "x-usrv-cpp-type": "std::int64_t",
            "description": "Logical time of this event. A globally unique counter that orders all blockchain events. Higher values are more recent."
          },
          "unixtime": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "format": "int32"
              }
            ],
            "x-usrv-cpp-type": "std::int32_t",
            "description": "Unix timestamp to look up."
          }
        },
        "description": "Request to find a block by workchain, shard, and either seqno, lt, or unixtime."
      },
      "ShardsRequest": {
        "$ref": "#/components/schemas/SeqnoRequest"
      },
      "BlockHeaderRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "workchain",
          "shard",
          "seqno"
        ],
        "properties": {
          "workchain": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "format": "int32"
              }
            ],
            "x-usrv-cpp-type": "std::int32_t",
            "description": "Workchain ID: -1 for masterchain, 0 for basechain. Most user transactions are on workchain 0."
          },
          "shard": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "format": "int64",
                "x-usrv-cpp-type": "std::int64_t"
              }
            ],
            "x-usrv-cpp-type": "std::int64_t",
            "description": "Shard identifier. A signed 64-bit integer. Masterchain uses -9223372036854775808."
          },
          "seqno": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "format": "int32"
              }
            ],
            "x-usrv-cpp-type": "std::int32_t",
            "description": "Block or wallet sequence number. For blocks, this is the block height. For wallets, increment this for each outgoing transaction."
          },
          "root_hash": {
            "$ref": "#/components/schemas/TonHash",
            "description": "Merkle root hash of the block state tree. Used for cryptographic verification."
          },
          "file_hash": {
            "$ref": "#/components/schemas/TonHash",
            "description": "Hash of the serialized block data. Together with root_hash, uniquely identifies a block."
          }
        }
      },
      "OutMsgQueueSizeRequest": {
        "$ref": "#/components/schemas/EmptyRequest"
      },
      "BlockTransactionsRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "workchain",
          "shard",
          "seqno"
        ],
        "properties": {
          "workchain": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "format": "int32"
              }
            ],
            "x-usrv-cpp-type": "std::int32_t",
            "description": "Workchain ID: -1 for masterchain, 0 for basechain. Most user transactions are on workchain 0."
          },
          "shard": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "format": "int64",
                "x-usrv-cpp-type": "std::int64_t"
              }
            ],
            "x-usrv-cpp-type": "std::int64_t",
            "description": "Shard identifier. A signed 64-bit integer. Masterchain uses -9223372036854775808."
          },
          "seqno": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "format": "int32"
              }
            ],
            "x-usrv-cpp-type": "std::int32_t",
            "description": "Block or wallet sequence number. For blocks, this is the block height. For wallets, increment this for each outgoing transaction."
          },
          "root_hash": {
            "$ref": "#/components/schemas/TonHash",
            "description": "Merkle root hash of the block state tree. Used for cryptographic verification."
          },
          "file_hash": {
[...]
