openapi: 3.0.0
info:
  title: TON Index (Go)
  description: TON Index collects data from a full node to PostgreSQL database and provides convenient API to an indexed blockchain.
  version: '1.2.4-rc'
  contact: {}
servers:
- url: 'https://toncenter.com'
- url: 'https://testnet.toncenter.com'
paths:
  /api/v3/accountStates:
    get:
      security: []
      description: 'Returns the current on-chain state for one or more accounts. Includes balance, contract code and data
        hashes, account status, and last transaction reference. Use `include_boc` to control whether full code and data BOCs
        are returned.'
      tags:
      - Accounts
      summary: Get account states
      operationId: api_v3_get_account_states
      parameters:
      - name: address
        in: query
        description: List of addresses in any form. Maximum 1000 addresses allowed.
        required: true
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: include_boc
        in: query
        description: 'Include code and data BOCs. Default: true'
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Current state for each requested account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStatesResponse'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /api/v3/actions:
    get:
      security: []
      description: 'Returns parsed high-level actions (transfers, swaps, burns, etc.) derived from on-chain traces. Filter
        by account, transaction hash, message hash, trace ID, or action type. Actions provide a human-readable interpretation
        of raw transactions.'
      tags:
      - Actions and traces
      summary: Get actions
      operationId: api_v3_get_actions
      parameters:
      - name: account
        in: query
        description: 'List of account addresses to get actions. Can be sent in hex, base64 or base64url form.'
        schema:
          type: string
      - name: tx_hash
        in: query
        description: Find actions by transaction hash.
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: msg_hash
        in: query
        description: Find actions by message hash.
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: action_id
        in: query
        description: Find actions by the action_id.
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: trace_id
        in: query
        description: Find actions by the trace_id.
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: mc_seqno
        in: query
        description: Query actions of traces which was completed in masterchain block with given seqno
        schema:
          type: integer
          format: int32
      - name: start_utime
        in: query
        description: 'Query actions for traces with `trace_end_utime >= start_utime`.'
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: end_utime
        in: query
        description: 'Query actions for traces with `trace_end_utime <= end_utime`.'
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: start_lt
        in: query
        description: 'Query actions for traces with `trace_end_lt >= start_lt`.'
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: end_lt
        in: query
        description: 'Query actions for traces with `trace_end_lt <= end_lt`.'
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: action_type
        in: query
        description: Include action types.
        explode: true
        schema:
          type: array
          items:
            enum:
            - call_contract
            - contract_deploy
            - ton_transfer
            - auction_bid
            - change_dns
            - dex_deposit_liquidity
            - dex_withdraw_liquidity
            - delete_dns
            - renew_dns
            - election_deposit
            - election_recover
            - jetton_burn
            - jetton_swap
            - jetton_transfer
            - jetton_mint
            - nft_mint
            - tick_tock
            - stake_deposit
            - stake_withdrawal
            - stake_withdrawal_request
            - subscribe
            - unsubscribe
            type: string
      - name: exclude_action_type
        in: query
        description: Exclude action types.
        explode: true
        schema:
          type: array
          items:
            enum:
            - call_contract
            - contract_deploy
            - ton_transfer
            - auction_bid
            - change_dns
            - dex_deposit_liquidity
            - dex_withdraw_liquidity
            - delete_dns
            - renew_dns
            - election_deposit
            - election_recover
            - jetton_burn
            - jetton_swap
            - jetton_transfer
            - jetton_mint
            - nft_mint
            - tick_tock
            - stake_deposit
            - stake_withdrawal
            - stake_withdrawal_request
            - subscribe
            - unsubscribe
            type: string
      - name: supported_action_types
        in: query
        description: Supported action types
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: include_accounts
        in: query
        description: Include accounts array for each action in response.
        schema:
          type: boolean
          default: false
      - name: include_transactions
        in: query
        description: 'Include `transactions_full` array with detailed transaction data for each action in response.'
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: sort
        in: query
        description: Sort actions by lt.
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Matching actions with optional address book and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsResponse'
  /api/v3/addressBook:
    get:
      security: []
      description: 'Returns the address book entries for a list of addresses. Each entry includes the user-friendly address
        form, detected interfaces, and associated DNS domain (if any).'
      tags:
      - Accounts
      summary: Get address book
      operationId: api_v3_get_address_book
      parameters:
      - name: address
        in: query
        description: 'List of addresses in any form to get address book. Max: 1024.'
        required: true
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Address book entries keyed by raw address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressBook'
        '422':
          $ref: '#/components/responses/422'
  /api/v3/addressInformation:
    get:
      security: []
      description: 'Returns the current state of an account on the TON blockchain. Includes balance (in nanotons), smart contract
        code and data (as BOC-encoded strings), account status, and a reference to the last transaction. Compatible with the
        v2 API response format.'
      tags:
      - Api/v2
      summary: Get address information
      operationId: api_v3_get_v2_addressInformation
      parameters:
      - name: address
        in: query
        description: Account address in any form.
        required: true
        schema:
          type: string
      - name: use_v2
        in: query
        description: Use method from api/v2. Not recommended
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: 'Current account state in v2-compatible format.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2AddressInformation'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /api/v3/adjacentTransactions:
    get:
      security: []
      description: 'Returns the parent and/or child transactions for a given transaction. Use `direction` to filter by inbound
        or outbound messages. Useful for tracing the execution flow of a multi-hop message chain.'
      tags:
      - Blockchain Data
      summary: Get adjacent transactions
      operationId: api_v3_get_adjacent_transactions
      parameters:
      - name: hash
        in: query
        description: Transaction hash.
        schema:
          type: string
      - name: direction
        in: query
        description: Direction of message.
        schema:
          type: string
          enum:
          - in
          - out
      responses:
        '200':
          description: Parent and/or child transactions for the specified transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
  /api/v3/blocks:
    get:
      security: []
      description: 'Returns blocks matching the specified filters. Query by workchain, shard, sequence number, root hash,
        file hash, or time range. Each block includes metadata such as transaction count, validator info, and references to
        previous blocks.'
      tags:
      - Blockchain Data
      summary: Get blocks
      operationId: api_v3_get_blocks
      parameters:
      - name: workchain
        in: query
        description: Block workchain.
        schema:
          type: integer
          format: int32
      - name: shard
        in: query
        description: 'Block shard id. Must be sent with *workchain*. Example: `8000000000000000`.'
        schema:
          type: string
      - name: seqno
        in: query
        description: 'Block block seqno. Must be sent with *workchain* and *shard*.'
        schema:
          type: integer
          format: int32
      - name: root_hash
        in: query
        description: Block root hash.
        schema:
          type: string
      - name: file_hash
        in: query
        description: Block file hash.
        schema:
          type: string
      - name: mc_seqno
        in: query
        description: Masterchain block seqno
        schema:
          type: integer
          format: int32
      - name: start_utime
        in: query
        description: 'Query blocks with generation UTC timestamp **after** given timestamp.'
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: end_utime
        in: query
        description: 'Query blocks with generation UTC timestamp **before** given timestamp.'
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: start_lt
        in: query
        description: 'Query blocks with `lt >= start_lt`.'
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: end_lt
        in: query
        description: 'Query blocks with `lt <= end_lt`.'
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: sort
        in: query
        description: Sort results by UTC timestamp.
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Matching blocks with full metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlocksResponse'
  /api/v3/decode:
    get:
      security: []
      description: 'Decodes opcodes and message bodies into human-readable form. Opcodes can be in hex (with or without `0x`
        prefix) or decimal format. Bodies should be in base64 or hex format. Maximum 1000 items per list.'
      tags:
      - Utils
      summary: Decode opcodes and bodies
      operationId: api_v3_get_decode
      parameters:
      - name: opcodes
        in: query
        description: List of opcodes to decode (hex or decimal)
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: bodies
        in: query
        description: List of message bodies to decode (base64 or hex)
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Decoded opcodes and message bodies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecodeResponse'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      security: []
      description: 'Decodes opcodes and message bodies into human-readable form. Opcodes can be in hex (with or without `0x`
        prefix) or decimal format. Bodies should be in base64 or hex format. Maximum 1000 items per list. Use POST for long
        parameter lists that may be truncated in GET requests.'
      tags:
      - Utils
      summary: Decode opcodes and bodies
      operationId: api_v3_post_decode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecodeRequest'
      responses:
        '200':
          description: Decoded opcodes and message bodies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecodeResponse'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /api/v3/dns/records:
    get:
      security: []
      description: 'Returns DNS records matching the specified filters. Currently supports `.ton` and `.t.me` domains. Query
        by wallet address (returns records pointing to that wallet) or by exact domain name. Provide one filter, not both.'
      tags:
      - Dns
      summary: Get DNS records
      operationId: api_v3_get_dns_records
      parameters:
      - name: wallet
        in: query
        description: Wallet address in any form. DNS records that contain this address in wallet category will be returned.
        schema:
          type: string
      - name: domain
        in: query
        description: Domain name to search for. DNS records with this exact domain name will be returned.
        schema:
          type: string
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 100
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      responses:
        '200':
          description: Matching DNS records with address book.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DNSRecordsResponse'
        '422':
          $ref: '#/components/responses/422'
  /api/v3/estimateFee:
    post:
      security: []
      description: 'Estimates the fees required to process a transaction. Accepts a target address and serialized message
        body, init-code, and init-data (all base64-encoded). Returns a breakdown of source and destination fees including
        storage, gas, and forwarding costs.'
      tags:
      - Api/v2
      summary: Estimate fee
      operationId: api_v3_post_v2_estimate_fee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2EstimateFeeRequest'
      responses:
        '200':
          description: Estimated fee breakdown for source and destination accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2EstimateFeeResult'
  /api/v3/jetton/burns:
    get:
      security: []
      description: 'Returns Jetton burn events matching the specified filters. Filter by owner address, Jetton wallet address,
        Jetton master address, or time range. Each burn includes the amount, query ID, and transaction reference.'
      tags:
      - Jettons
      summary: Get Jetton burns
      operationId: api_v3_get_jetton_burns
      parameters:
      - name: address
        in: query
        description: Address of jetton wallet owner in any form. Max 1000
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: jetton_wallet
        in: query
        description: 'Jetton wallet address in any form. Max: 1000.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: jetton_master
        in: query
        description: Jetton master address in any form.
        schema:
          type: string
      - name: start_utime
        in: query
        description: 'Query transactions with generation UTC timestamp **after** given timestamp.'
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: end_utime
        in: query
        description: 'Query transactions with generation UTC timestamp **before** given timestamp.'
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: start_lt
        in: query
        description: 'Query transactions with `lt >= start_lt`.'
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: end_lt
        in: query
        description: 'Query transactions with `lt <= end_lt`.'
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: sort
        in: query
        description: Sort transactions by lt.
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Matching Jetton burn events with address book and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JettonBurnsResponse'
  /api/v3/jetton/masters:
    get:
      security: []
      description: 'Returns Jetton master contracts matching the specified filters. Filter by master address or admin address.
        Each result includes total supply, mintability status, content metadata, and wallet code hash.'
      tags:
      - Jettons
      summary: Get Jetton masters
      operationId: api_v3_get_jetton_masters
      parameters:
      - name: address
        in: query
        description: 'Jetton Master address in any form. Max: 1024.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: admin_address
        in: query
        description: 'Address of Jetton Master''s admin in any form. Max: 1024.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      responses:
        '200':
          description: Matching Jetton master contracts with address book and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JettonMastersResponse'
  /api/v3/jetton/transfers:
    get:
      security: []
      description: 'Returns Jetton transfer events matching the specified filters. Filter by owner address, Jetton wallet,
        Jetton master, direction, or time range. Each transfer includes source, destination, amount, and optional forward/custom
        payloads.'
      tags:
      - Jettons
      summary: Get Jetton transfers
      operationId: api_v3_get_jetton_transfers
      parameters:
      - name: owner_address
        in: query
        description: Address of jetton wallet owner in any form. Max 1000
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: jetton_wallet
        in: query
        description: 'Jetton wallet address in any form. Max: 1000.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: jetton_master
        in: query
        description: Jetton master address in any form.
        schema:
          type: string
      - name: direction
        in: query
        description: 'Direction of transfer. *Note:* applied only with owner_address.'
        schema:
          type: string
          enum:
          - in
          - out
      - name: start_utime
        in: query
        description: 'Query transactions with generation UTC timestamp **after** given timestamp.'
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: end_utime
        in: query
        description: 'Query transactions with generation UTC timestamp **before** given timestamp.'
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: start_lt
        in: query
        description: 'Query transactions with `lt >= start_lt`.'
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: end_lt
        in: query
        description: 'Query transactions with `lt <= end_lt`.'
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: sort
        in: query
        description: Sort transactions by lt.
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Matching Jetton transfer events with address book and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JettonTransfersResponse'
  /api/v3/jetton/wallets:
    get:
      security: []
      description: 'Returns Jetton wallet contracts matching the specified filters. Filter by wallet address, owner address,
        or Jetton master address. Each result includes balance, owner, and associated Jetton master. Use `exclude_zero_balance`
        to skip empty wallets.'
      tags:
      - Jettons
      summary: Get Jetton wallets
      operationId: api_v3_get_jetton_wallets
      parameters:
      - name: address
        in: query
        description: 'Jetton wallet address in any form. Max: 1000.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: owner_address
        in: query
        description: 'Address of Jetton wallet''s owner in any form. Max: 1000.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: jetton_address
        in: query
        description: Jetton Master in any form.
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: exclude_zero_balance
        in: query
        description: Exclude jetton wallets with 0 balance.
        schema:
          type: boolean
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: sort
        in: query
        description: 'Sort jetton wallets by balance. **Warning:** results may be inconsistent during the read with limit
          and offset.'
        schema:
          type: string
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Matching Jetton wallet contracts with address book and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JettonWalletsResponse'
        '422':
          $ref: '#/components/responses/422'
  /api/v3/masterchainBlockShardState:
    get:
      security: []
      description: 'Returns the shard state at a given masterchain block sequence number. Equivalent to the v2 `/shards` endpoint.
        Use this to discover which shard blocks were committed in a specific masterchain block.'
      tags:
      - Blockchain Data
      summary: Get masterchain block shard state
      operationId: api_v3_get_masterchainBlockShardState
      parameters:
      - name: seqno
        in: query
        description: Masterchain block seqno.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Shard configuration at the specified masterchain block.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '404':
          $ref: '#/components/responses/404'
  /api/v3/masterchainBlockShards:
    get:
      security: []
      description: Returns all workchain blocks that appeared after the previous masterchain block for a given sequence number.
        Useful for iterating through all shard blocks between masterchain blocks.
      tags:
      - Blockchain Data
      summary: Get masterchain block shards
      operationId: api_v3_get_masterchainBlockShards
      parameters:
      - name: seqno
        in: query
        description: Masterchain block seqno.
        required: true
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      responses:
        '200':
          description: Workchain blocks associated with the specified masterchain block.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '404':
          $ref: '#/components/responses/404'
  /api/v3/masterchainInfo:
    get:
      security: []
      description: Returns the first and last indexed masterchain blocks. Use this to determine the current indexing range
        and check whether the indexer is up to date.
      tags:
      - Blockchain Data
      summary: Get masterchain info
      operationId: api_v3_get_masterchain_info
      responses:
        '200':
          description: First and last indexed masterchain blocks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MasterchainInfo'
  /api/v3/message:
    post:
      security: []
      description: 'Sends a serialized external message (BOC) to the TON network for processing. The message must be a valid
        base64-encoded bag-of-cells. Returns the message hash on success.'
      tags:
      - Api/v2
      summary: Send message
      operationId: api_v3_post_v2_message
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2SendMessageRequest'
      responses:
        '200':
          description: Message hash of the submitted external message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2SendMessageResult'
        '401':
          $ref: '#/components/responses/401'
  /api/v3/messages:
    get:
      security: []
      description: 'Returns messages matching the specified filters. Filter by message hash, body hash, source/destination
        address, opcode, or time range. Use `source=null` to find external inbound messages or `destination=null` for log
        messages.'
      tags:
      - Blockchain Data
      summary: Get messages
      operationId: api_v3_get_messages
      parameters:
      - name: msg_hash
        in: query
        description: 'Message hash. Acceptable in hex, base64 and base64url forms.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: body_hash
        in: query
        description: Hash of message body.
        schema:
          type: string
      - name: source
        in: query
        description: 'The source account address. Can be sent in hex, base64 or base64url form. Use value `null` to get external
          messages.'
        schema:
          type: string
      - name: destination
        in: query
        description: 'The destination account address. Can be sent in hex, base64 or base64url form. Use value `null` to get
          log messages.'
        schema:
          type: string
      - name: opcode
        in: query
        description: 'Opcode of message in hex or signed 32-bit decimal form.'
        schema:
          type: string
      - name: start_utime
        in: query
        description: 'Query messages with `created_at >= start_utime`.'
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: end_utime
        in: query
        description: 'Query messages with `created_at >= start_utime`.'
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: start_lt
        in: query
        description: 'Query messages with `created_lt >= start_lt`.'
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: end_lt
        in: query
        description: 'Query messages with `created_lt <= end_lt`.'
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: direction
        in: query
        description: Direction of message.
        schema:
          type: string
          enum:
          - in
          - out
      - name: exclude_externals
        in: query
        description: Exclude external messages.
        schema:
          type: boolean
      - name: only_externals
        in: query
        description: Return only external messages.
        schema:
          type: boolean
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: sort
        in: query
        description: 'Sort transactions by lt. If set to `desc`, you better set `start_lt = 1` to get latest messages.'
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Matching messages with address book and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagesResponse'
  /api/v3/metadata:
    get:
      security: []
      description: 'Returns metadata for a list of addresses. Metadata includes indexing status and token information (name,
        symbol, image, type) for known Jetton and NFT contracts.'
      tags:
      - Accounts
      summary: Get metadata
      operationId: api_v3_get_metadata
      parameters:
      - name: address
        in: query
        description: 'List of addresses in any form to get address metadata. Max: 1024.'
        required: true
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Address metadata keyed by raw address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
        '422':
          $ref: '#/components/responses/422'
  /api/v3/multisig/orders:
    get:
      security: []
      description: 'Returns multisig orders matching the specified filters. Filter by order address or parent multisig address.
        Each order includes approval status, expiration date, signers, and optionally parsed actions. At least one of `address`
        or `multisig_address` is required.'
      tags:
      - Multisig
      summary: Get multisig orders
      operationId: api_v3_get_multisig_orders
      parameters:
      - name: address
        in: query
        description: 'Order address in any form. Max: 1024.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: multisig_address
        in: query
        description: 'Address of corresponding multisig. Max: 1024.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: parse_actions
        in: query
        description: Parser order actions
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1024
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: sort
        in: query
        description: Sort orders by last_transaction_lt.
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Matching multisig orders with address book.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultisigOrderResponse'
        '422':
          $ref: '#/components/responses/422'
  /api/v3/multisig/wallets:
    get:
      security: []
      description: 'Returns multisig wallet contracts matching the specified filters. Filter by multisig address or signer/proposer
        wallet address. Each result includes signers, proposers, threshold, and optionally associated orders. At least one
        of `address` or `wallet_address` is required.'
      tags:
      - Multisig
      summary: Get multisig wallets
      operationId: api_v3_get_multisig_wallets
      parameters:
      - name: address
        in: query
        description: 'Multisig contract address in any form. Max: 1024.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: wallet_address
        in: query
        description: 'Address of signer or proposer wallet in any form. Max: 1024.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1024
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: sort
        in: query
        description: Sort multisigs by last_transaction_lt.
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: include_orders
        in: query
        description: Gather multisig orders
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Matching multisig contracts with address book.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultisigResponse'
        '422':
          $ref: '#/components/responses/422'
  /api/v3/nft/collections:
    get:
      security: []
      description: 'Returns NFT collection contracts matching the specified filters. Filter by collection address or owner
        address. Each result includes collection content metadata, next item index, and owner.'
      tags:
      - NFTs
      summary: Get NFT collections
      operationId: api_v3_get_nft_collections
      parameters:
      - name: collection_address
        in: query
        description: 'Collection address in any form. Max: 1024.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: owner_address
        in: query
        description: 'Address of collection owner in any form. Max: 1024.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      responses:
        '200':
          description: Matching NFT collection contracts with address book and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NFTCollectionsResponse'
  /api/v3/nft/items:
    get:
      security: []
      description: 'Returns NFT items matching the specified filters. Filter by item address, owner address, collection address,
        or item index. Use `include_on_sale` to include items listed on marketplaces. When querying multiple collections,
        provide exactly one `owner_address`.'
      tags:
      - NFTs
      summary: Get NFT items
      operationId: api_v3_get_nft_items
      parameters:
      - name: address
        in: query
        description: 'NFT item address in any form. Max: 1000.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: owner_address
        in: query
        description: 'Address of NFT item owner in any form. Max: 1000.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: collection_address
        in: query
        description: Collection address in any form.
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: index
        in: query
        description: 'Index of item for given collection. Max: 1000.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: include_on_sale
        in: query
        description: Include nft on sales and auctions. Used only when owner_address is passed
        schema:
          type: boolean
          default: false
      - name: sort_by_last_transaction_lt
        in: query
        description: 'Sort NFT items by last transaction lt descending. **Warning:** results may be inconsistent during pagination
          with limit and offset.'
        schema:
          type: boolean
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      responses:
        '200':
          description: Matching NFT items with address book and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NFTItemsResponse'
        '422':
          $ref: '#/components/responses/422'
  /api/v3/nft/transfers:
    get:
      security: []
      description: 'Returns NFT transfer events matching the specified filters. Filter by owner address, item address, collection
        address, direction, or time range. Each transfer includes old and new owner, forward payload, and transaction reference.'
      tags:
      - NFTs
      summary: Get NFT transfers
      operationId: api_v3_get_nft_transfers
      parameters:
      - name: owner_address
        in: query
        description: Address of NFT owner in any form. Max 1000
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: item_address
        in: query
        description: 'Address of NFT item in any form. Max: 1000.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: collection_address
        in: query
        description: Collection address in any form.
        schema:
          type: string
      - name: direction
        in: query
        description: Direction of transfer.
        schema:
          type: string
          enum:
          - in
          - out
      - name: start_utime
        in: query
        description: 'Query transactions with generation UTC timestamp **after** given timestamp.'
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: end_utime
        in: query
        description: 'Query transactions with generation UTC timestamp **before** given timestamp.'
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: start_lt
        in: query
        description: 'Query transactions with `lt >= start_lt`.'
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: end_lt
        in: query
        description: 'Query transactions with `lt <= end_lt`.'
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: sort
        in: query
        description: Sort transactions by lt.
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Matching NFT transfer events with address book and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NFTTransfersResponse'
  /api/v3/pendingActions:
    get:
      security: []
      description: 'Returns parsed actions for pending (not yet finalized) traces. Filter by account address or external message
        hash. Useful for tracking transactions that have been submitted but not yet confirmed on-chain.'
      tags:
      - Actions and traces
      summary: Get pending actions
      operationId: api_v3_get_pending_actions
      parameters:
      - name: account
        in: query
        description: 'List of account addresses to get actions. Can be sent in hex, base64 or base64url form.'
        schema:
          type: string
      - name: ext_msg_hash
        in: query
        description: Find actions by trace external hash
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: supported_action_types
        in: query
        description: Supported action types
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: include_transactions
        in: query
        description: 'Include `transactions_full` array with detailed transaction data for each action in response.'
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Pending actions for matching traces.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsResponse'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /api/v3/pendingTraces:
    get:
      security: []
      description: Returns pending traces that have not yet been finalized. Filter by account address or external message
        hash. A pending trace represents a message chain that is still being processed by the network.
      tags:
      - Actions and traces
      summary: Get pending traces
      operationId: api_v3_get_pending_traces
      parameters:
      - name: account
        in: query
        description: 'List of account addresses to get transactions. Can be sent in hex, base64 or base64url form.'
        schema:
          type: string
      - name: ext_msg_hash
        in: query
        description: Find trace by external hash
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Pending traces for matching filters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracesResponse'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /api/v3/pendingTransactions:
    get:
      security: []
      description: Returns pending transactions that have not yet been finalized. Filter by account address or trace ID. Use
        only one filter at a time. At least one account address is required unless filtering by trace ID.
      tags:
      - Blockchain Data
      summary: Get pending transactions
      operationId: api_v3_get_pending_transactions
      parameters:
      - name: account
        in: query
        description: 'List of account addresses to get transactions. Can be sent in hex, base64 or base64url form.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: trace_id
        in: query
        description: Find transactions by trace id.
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Pending transactions for matching filters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /api/v3/runGetMethod:
    post:
      security: []
      description: 'Executes a get method on a smart contract and returns the result stack. The stack supports `num`, `cell`,
        and `slice` types. Cell and slice values must be base64-encoded BOCs. Both `address` and `method` are required.'
      tags:
      - Api/v2
      summary: Run get method
      operationId: api_v3_post_v2_rungetmethod
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2RunGetMethodRequest'
      responses:
        '200':
          description: Get method execution result with output stack.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2RunGetMethodRequest'
        '401':
          $ref: '#/components/responses/401'
  /api/v3/topAccountsByBalance:
    get:
      security: []
      description: 'Returns accounts sorted by balance in descending order. Use `limit` and `offset` for pagination. Useful
        for analytics and leaderboard views.'
      tags:
      - Stats
      summary: Get top accounts by balance
      operationId: api_v3_get_top_accounts_by_balance
      parameters:
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      responses:
        '200':
          description: Accounts sorted by balance descending.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountBalance'
  /api/v3/traces:
    get:
      security: []
      description: 'Returns execution traces matching the specified filters. A trace represents the full message chain triggered
        by an external message. Filter by account, trace ID, transaction hash, or message hash. Use only one primary filter
        at a time. Optionally include parsed actions.'
      tags:
      - Actions and traces
      summary: Get traces
      operationId: api_v3_get_traces
      parameters:
      - name: account
        in: query
        description: 'List of account addresses to get transactions. Can be sent in hex, base64 or base64url form.'
        schema:
          type: string
      - name: trace_id
        in: query
        description: Find trace by trace id.
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: tx_hash
        in: query
        description: Find trace by transaction hash.
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: msg_hash
        in: query
        description: Find trace by message hash.
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: mc_seqno
        in: query
        description: Query traces that was completed in masterchain block with given seqno
        schema:
          type: integer
          format: int32
      - name: start_utime
        in: query
        description: 'Query traces, which was finished **after** given timestamp.'
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: end_utime
        in: query
        description: 'Query traces, which was finished **before** given timestamp.'
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: start_lt
        in: query
        description: 'Query traces with `end_lt >= start_lt`.'
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: end_lt
        in: query
        description: 'Query traces with `end_lt <= end_lt`.'
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: include_actions
        in: query
        description: Include trace actions.
        schema:
          type: boolean
          default: false
      - name: supported_action_types
        in: query
        description: Supported action types
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: sort
        in: query
        description: Sort traces by lt.
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Matching traces with address book and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracesResponse'
        '422':
          $ref: '#/components/responses/422'
  /api/v3/transactions:
    get:
      security: []
      description: 'Returns transactions matching the specified filters. Filter by block coordinates, masterchain sequence
        number, account address, transaction hash, logical time, or time range. Each transaction includes inbound message,
        outbound messages, fees, and execution phases.'
      tags:
      - Blockchain Data
      summary: Get transactions
      operationId: api_v3_get_transactions
      parameters:
      - name: workchain
        in: query
        description: Block workchain.
        schema:
          type: integer
          format: int32
      - name: shard
        in: query
        description: 'Block shard id. Must be sent with *workchain*. Example: `8000000000000000`.'
        schema:
          type: string
      - name: seqno
        in: query
        description: 'Block block seqno. Must be sent with *workchain* and *shard*.'
        schema:
          type: integer
          format: int32
      - name: mc_seqno
        in: query
        description: Masterchain block seqno.
        schema:
          type: integer
          format: int32
      - name: account
        in: query
        description: 'List of account addresses to get transactions. Can be sent in hex, base64 or base64url form.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: exclude_account
        in: query
        description: Exclude transactions on specified account addresses.
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: hash
        in: query
        description: Transaction hash.
        schema:
          type: string
      - name: lt
        in: query
        description: Transaction lt.
        schema:
          type: integer
          format: int64
      - name: start_utime
        in: query
        description: 'Query transactions with generation UTC timestamp **after** given timestamp.'
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: end_utime
        in: query
        description: 'Query transactions with generation UTC timestamp **before** given timestamp.'
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: start_lt
        in: query
        description: 'Query transactions with `lt >= start_lt`.'
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: end_lt
        in: query
        description: 'Query transactions with `lt <= end_lt`.'
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: sort
        in: query
        description: Sort transactions by lt.
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Matching transactions with address book.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
  /api/v3/transactionsByMasterchainBlock:
    get:
      security: []
      description: Returns all transactions from a masterchain block and its associated shard blocks. Provides a complete
        view of all activity committed in a single masterchain round.
      tags:
      - Blockchain Data
      summary: Get transactions by masterchain block
      operationId: api_v3_get_transactions_by_masterchain_block
      parameters:
      - name: seqno
        in: query
        description: Masterchain block seqno.
        required: true
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      - name: sort
        in: query
        description: Sort transactions by lt.
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        '200':
          description: All transactions in the specified masterchain block and its shards.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
  /api/v3/transactionsByMessage:
    get:
      security: []
      description: 'Returns transactions whose inbound or outbound message matches the specified hash, body hash, or opcode.
        At least one of `msg_hash`, `body_hash`, or `opcode` is required. Use `direction` to filter by inbound or outbound.'
      tags:
      - Blockchain Data
      summary: Get transactions by message
      operationId: api_v3_get_transactions_by_message
      parameters:
      - name: msg_hash
        in: query
        description: 'Message hash. Acceptable in hex, base64 and base64url forms.'
        schema:
          type: string
      - name: body_hash
        in: query
        description: Hash of message body.
        schema:
          type: string
      - name: opcode
        in: query
        description: 'Opcode of message in hex or signed 32-bit decimal form.'
        schema:
          type: string
      - name: direction
        in: query
        description: Direction of message.
        schema:
          type: string
          enum:
          - in
          - out
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      responses:
        '200':
          description: Transactions matching the specified message filters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '422':
          $ref: '#/components/responses/422'
  /api/v3/vesting:
    get:
      security: []
      description: 'Returns vesting contracts matching the specified filters. Filter by contract address or wallet address
        (owner or sender). Each result includes vesting schedule parameters: start time, cliff duration, total duration, unlock
        period, total amount, and optional whitelist.'
      tags:
      - Vesting
      summary: Get vesting contracts
      operationId: api_v3_get_vesting_contracts
      parameters:
      - name: contract_address
        in: query
        description: 'Vesting contract address in any form. Max: 1000.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: wallet_address
        in: query
        description: 'Wallet address to filter by owner or sender. Max: 1000.'
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: check_whitelist
        in: query
        description: Check if wallet address is in whitelist.
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        description: 'Limit number of queried rows. Use with *offset* to batch read.'
        schema:
          type: integer
          format: int32
          default: 10
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: 'Skip first N rows. Use with *limit* to batch read.'
        schema:
          type: integer
          format: int32
          default: 0
          minimum: 0
      responses:
        '200':
          description: Matching vesting contracts with address book.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VestingContractsResponse'
  /api/v3/walletInformation:
    get:
      security: []
      description: 'Returns wallet-specific information for an account. Identifies the wallet version and extracts wallet
        fields like `seqno` and `wallet_id`. Supported wallets: v1r1, v1r2, v1r3, v2r1, v2r2, v3r1, v3r2, v4r1, v4r2, v5beta,
        v5r1. Returns error 409 if the account exists but isn''t a wallet contract.'
      tags:
      - Api/v2
      summary: Get wallet information
      operationId: api_v3_get_wallet_information
      parameters:
      - name: address
        in: query
        description: Account address in any form.
        required: true
        schema:
          type: string
      - name: use_v2
        in: query
        description: Use method from api/v2. Not recommended
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: 'Wallet-specific details: type, seqno, wallet ID, and balance.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2WalletInformation'
        '401':
          $ref: '#/components/responses/401'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
  /api/v3/walletStates:
    get:
      security: []
      description: 'Returns wallet state for one or more addresses. Detects whether each address is a wallet contract and
        extracts wallet-specific fields (type, seqno, wallet_id, signature permissions). Non-wallet addresses are included
        with `is_wallet: false`.'
      tags:
      - Accounts
      summary: Get wallet states
      operationId: api_v3_get_wallet_states
      parameters:
      - name: address
        in: query
        description: List of addresses in any form. Maximum 1000 addresses allowed.
        required: true
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Wallet state for each requested address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletStatesResponse'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
components:
  schemas:
    AccountBalance:
      type: object
      description: 'Lightweight account summary containing only the address and TON balance. Returned by the top-accounts-by-balance
        endpoint for ranking and analytics.'
      properties:
        account:
          type: string
          description: 'Account address in raw format (`workchain:hex`), e.g., `0:abc123...`.'
        balance:
          type: string
          description: 'Account balance in nanotons (the smallest unit of TON). 1 TON = 1,000,000,000 nanotons. Divide by
            10^9 to get the human-readable TON amount.'
    AccountState:
      type: object
      description: 'Snapshot of an account''s on-chain state at a point in time. Includes balance, contract code and data
        hashes, extra currency holdings, and frozen state. Used in transaction objects to show the account state before and
        after execution.'
      properties:
        account_status:
          type: string
          description: 'Account lifecycle status: `uninit` (address exists but no contract deployed, can receive TON), `active`
            (contract is deployed and working), or `frozen` (contract suspended due to zero balance, send TON to unfreeze).'
        balance:
          type: string
          description: 'Account balance in nanotons. 1 TON = 1,000,000,000 nanotons. Divide by 10^9 to get the human-readable
            TON amount.'
        code_boc:
          type: string
          description: 'Smart contract code in BOC (Bag of Cells) format, base64 encoded. Empty or absent if the account is
            uninitialized.'
        code_hash:
          type: string
          description: 'SHA-256 hash of the contract code cell, hex encoded (64 characters). Use this to identify the contract
            type without downloading the full code.'
        data_boc:
          type: string
          description: 'Smart contract persistent storage in BOC format, base64 encoded. Contains the contract''s state variables.
            Empty or absent if the account is uninitialized.'
        data_hash:
          type: string
          description: 'SHA-256 hash of the contract data cell, hex encoded (64 characters).'
        extra_currencies:
          type: object
          description: 'Map of extra currency balances held by this account. Keys are currency IDs (integers defined in masterchain
            `ConfigParam 7`), values are balance amounts as decimal strings. Empty if the account holds no extra currencies.'
          additionalProperties:
            type: string
        frozen_hash:
          type: string
          description: 'Hash of the frozen state. Present only when the account status is `frozen`. The account can be unfrozen
            by sending it enough TON to cover storage fees.'
        hash:
          type: string
          description: Hash of this account state snapshot.
    AccountStateFull:
      type: object
      description: 'Complete account state with all available metadata. Extends `AccountState` with the full address, detected
        contract interfaces (e.g., `wallet_v4r2`, `jetton_master`), supported get-method IDs, and a reference to the most
        recent transaction. This is the primary schema for the account states endpoint.'
      properties:
        account_state_hash:
          type: string
          description: 'Hash of the complete account state, including code, data, and balance.'
        address:
          type: string
          description: 'Account address in raw format (`workchain:hex`), e.g., `0:abc123...`.'
        balance:
          type: string
          description: 'Account balance in nanotons. 1 TON = 1,000,000,000 nanotons. Divide by 10^9 to get the human-readable
            TON amount.'
        code_boc:
          type: string
          description: 'Smart contract code in BOC format, base64 encoded. Empty or absent if the account is uninitialized.'
        code_hash:
          type: string
          description: 'SHA-256 hash of the contract code cell, hex encoded (64 characters). Use this to identify the contract
            type without downloading the full code.'
        contract_methods:
          type: array
          description: 'List of detected get-method IDs (CRC32 hashes) supported by this contract. Use these to determine
            which get methods you can call via the `runGetMethod` endpoint.'
          items:
            type: integer
        data_boc:
          type: string
          description: 'Smart contract persistent storage in BOC format, base64 encoded. Contains the contract''s state variables.'
        data_hash:
          type: string
          description: 'SHA-256 hash of the contract data cell, hex encoded (64 characters).'
        extra_currencies:
          type: object
          description: 'Map of extra currency balances held by this account. Keys are currency IDs (integers), values are
            balance amounts as decimal strings.'
          additionalProperties:
            type: string
        frozen_hash:
          type: string
          description: 'Hash of the frozen state. Present only when status is `frozen`.'
        interfaces:
          type: array
          description: 'List of detected smart contract interfaces, e.g., `wallet_v4r2`, `jetton_master`, `nft_item`. Determined
            by matching the code hash and supported get methods against known contract standards.'
          items:
            type: string
        last_transaction_hash:
          type: string
          description: 'Hash of the most recent transaction on this account, hex encoded. Use together with `last_transaction_lt`
            to start paginating transaction history.'
        last_transaction_lt:
          type: string
          description: Logical time of the most recent transaction on this account. Logical time is a globally unique counter
            that orders all events on the blockchain; higher values are more recent.
          example: '0'
        status:
          type: string
          description: 'Account lifecycle status: `uninit` (no contract deployed), `active` (contract running), or `frozen`
            (suspended due to zero balance).'
    AccountStatesResponse:
      type: object
      description: 'Response wrapper for account state queries. Contains the requested account states along with an address
        book (for converting raw addresses to user-friendly form) and metadata (for token information).'
      properties:
        accounts:
          type: array
          description: 'Array of full account state objects, one per requested address.'
          items:
            $ref: '#/components/schemas/AccountStateFull'
        address_book:
          description: 'Address book mapping raw addresses to user-friendly base64url forms and detected interfaces for all
            addresses referenced in the response.'
          $ref: '#/components/schemas/AddressBook'
        metadata:
          description: 'Token and indexing metadata for all addresses referenced in the response. Includes token name, symbol,
            and image for recognized Jetton and NFT contracts.'
          $ref: '#/components/schemas/Metadata'
    Action:
      type: object
      description: 'A parsed high-level action derived from an on-chain execution trace. Actions provide a human-readable
        interpretation of raw transactions, such as TON transfers, Jetton swaps, NFT mints, and staking operations. Each action
        links back to its parent trace and the specific transactions involved.'
      properties:
        accounts:
          type: array
          description: 'List of account addresses involved in this action. Includes sender, receiver, and any intermediary
            contracts.'
          items:
            type: string
        action_id:
          type: string
          description: 'Unique identifier for this action, derived from the trace and action position.'
        details:
          description: 'Action-specific structured details. The schema varies by action `type`: for `ton_transfer` it includes
            amount and comment; for `jetton_transfer` it includes Jetton-specific fields; for `jetton_swap` it includes DEX
            details, etc.'
        end_lt:
          type: string
          description: Logical time when this action completed. Logical time is a globally unique counter ordering all blockchain
            events; higher values are more recent.
          example: '0'
        end_utime:
          type: integer
          description: Unix timestamp (seconds since epoch) when this action completed.
        start_lt:
          type: string
          description: Logical time when this action started.
          example: '0'
        start_utime:
          type: integer
          description: Unix timestamp (seconds since epoch) when this action started.
        success:
          type: boolean
          description: Whether the action completed successfully. An action is considered failed if any of its constituent
            transactions were aborted.
        trace_end_lt:
          type: string
          description: Logical time when the parent trace finished processing.
          example: '0'
        trace_end_utime:
          type: integer
          description: Unix timestamp when the parent trace finished processing.
        trace_external_hash:
          type: string
          description: Hash of the external inbound message that initiated the parent trace. Use this to look up the original
            message that triggered the entire chain of actions.
        trace_external_hash_norm:
          type: string
          description: 'Normalized hash of the external message that initiated the trace. Normalized hashes are stable across
            re-serializations.'
        trace_id:
          type: string
          description: 'Identifier of the parent trace. All actions within the same message chain share the same `trace_id`.'
        trace_mc_seqno_end:
          type: integer
          description: Masterchain block sequence number in which the parent trace was finalized.
        transactions:
          type: array
          description: List of transaction hashes involved in this action. Use these to look up full transaction details via
            the transactions endpoint.
          items:
            type: string
        transactions_full:
          type: array
          description: 'Full transaction objects for this action. Only populated when `include_transactions=true` is set in
            the request.'
          items:
            $ref: '#/components/schemas/Transaction'
        type:
          type: string
          description: 'Action type identifier. Possible values include: `ton_transfer`, `jetton_transfer`, `jetton_burn`,
            `jetton_mint`, `jetton_swap`, `nft_mint`, `nft_transfer` (not exhaustive, use `supported_action_types` parameter
            to discover all).'
    ActionPhase:
      type: object
      description: 'Details of the action phase during transaction execution. The action phase processes the list of actions
        generated by the TVM (sending messages, reserving currency, changing code, etc.) and reports how many succeeded, failed,
        or were skipped.'
      properties:
        action_list_hash:
          type: string
          description: Hash of the action list produced by the TVM during the compute phase.
        msgs_created:
          type: integer
          description: Number of outbound messages successfully created during this phase.
        no_funds:
          type: boolean
          description: Whether any actions failed because the account had insufficient funds to cover message value plus fees.
        result_arg:
          type: integer
          description: 'Additional argument for the result code, providing extra context on failures.'
        result_code:
          type: integer
          description: 'Action phase result code. `0` indicates all actions succeeded. Non-zero values indicate specific failure
            reasons.'
        skipped_actions:
          type: integer
          description: Number of actions that were skipped (not processed).
        spec_actions:
          type: integer
          description: 'Number of special actions executed, such as `SETCODE` (change contract code), `RESERVE` (reserve currency),
            or `SETLIB` (set library).'
        status_change:
          type: string
          description: 'Account status change resulting from this phase, if any (e.g., account frozen or deleted).'
        success:
          type: boolean
          description: Whether the action phase completed successfully (all actions processed without critical failure).
        tot_actions:
          type: integer
          description: Total number of actions in the action list produced by the TVM.
        tot_msg_size:
          description: Total size (in cells and bits) of all outbound messages created during this phase.
          $ref: '#/components/schemas/MsgSize'
        total_action_fees:
          type: string
          description: 'Total action processing fees in nanotons, deducted from the account balance.'
          example: '0'
        total_fwd_fees:
          type: string
          description: 'Total forwarding fees for all outbound messages created, in nanotons. This is the cost of delivering
            the messages to their destinations.'
          example: '0'
        valid:
          type: boolean
          description: Whether the action list produced by the TVM is structurally valid.
    ActionsResponse:
      type: object
      description: Response wrapper for action queries. Contains parsed actions along with an address book and metadata for
        all referenced addresses.
      properties:
        actions:
          type: array
          description: 'Array of parsed high-level actions matching the query filters.'
          items:
            $ref: '#/components/schemas/Action'
        address_book:
          description: 'Address book mapping raw addresses to user-friendly forms for all addresses referenced in the response.'
          $ref: '#/components/schemas/AddressBook'
        metadata:
          description: Token and indexing metadata for all addresses referenced in the response.
          $ref: '#/components/schemas/Metadata'
    AddressBook:
      type: object
      description: 'Dictionary mapping raw account addresses to their human-readable forms. Keys are raw addresses (hex),
        values are `AddressBookRow` objects with the user-friendly base64url form, detected interfaces, and DNS domain.'
      additionalProperties:
        $ref: '#/components/schemas/AddressBookRow'
    AddressBookRow:
      type: object
      description: 'A single address book entry providing the user-friendly address form, detected smart contract interfaces,
        and associated DNS domain name (if any).'
      properties:
        domain:
          type: string
          description: 'TON DNS domain name associated with this address (e.g., `example.ton`), if one exists.'
        interfaces:
          type: array
          description: 'List of detected smart contract interfaces, e.g., `wallet_v4r2`, `jetton_master`, `nft_item`. Useful
            for determining what kind of contract is deployed at this address.'
          items:
            type: string
        user_friendly:
          type: string
          description: 'User-friendly address in base64url encoding (48 characters). This is the format commonly used in wallets
            and explorers.'
    AddressMetadata:
      type: object
      description: 'Metadata for an address including whether it has been indexed by the system and any associated token information
        (for Jetton masters, Jetton wallets, NFT collections, and NFT items).'
      properties:
        is_indexed:
          type: boolean
          description: Whether this address has been fully indexed by the system. Unindexed addresses may have incomplete
            transaction history.
        token_info:
          type: array
          description: 'Array of token metadata entries for this address. Contains name, symbol, image, and type for recognized
            Jetton masters, Jetton wallets, NFT collections, and NFT items.'
          items:
            $ref: '#/components/schemas/TokenInfo'
    Block:
      type: object
      description: 'A block on the TON blockchain with complete header metadata. Contains identification fields (workchain,
        shard, seqno), timing (logical time range, generation timestamp), validator info, shard state flags (split/merge),
        and references to previous blocks and the masterchain.'
      properties:
        after_merge:
          type: boolean
          description: Whether this block was produced immediately after two sibling shards merged into one.
        after_split:
          type: boolean
          description: Whether this block was produced immediately after a shard split into two.
        before_split:
          type: boolean
          description: Whether this shard is scheduled to split after this block. The next two blocks will belong to the two
            new child shards.
        created_by:
          type: string
          description: 'Ed25519 public key of the validator that produced this block, hex encoded.'
        end_lt:
          type: string
          description: 'Logical time at the end of this block. All transactions in this block have logical times within `[start_lt,
            end_lt)`.'
          example: '0'
        file_hash:
          type: string
          description: 'SHA-256 hash of the serialized block file. Together with `root_hash`, uniquely identifies a block
            independently of its workchain/shard/seqno coordinates.'
        flags:
          type: integer
          description: Block header flags (bitmask). Internal use by the TON node.
        gen_catchain_seqno:
          type: integer
          description: Catchain sequence number at the time this block was generated. Catchain is the consensus protocol layer.
        gen_utime:
          type: string
          description: Unix timestamp (seconds since epoch) when this block was generated by the validator.
          example: '0'
        global_id:
          type: integer
          description: 'Global network identifier. `-239` for mainnet, `-3` for testnet.'
        key_block:
          type: boolean
          description: 'Whether this is a key block. Key blocks contain updated validator sets and configuration parameters,
            and are used as reference points for lite client proofs.'
        master_ref_seqno:
          type: integer
          description: Sequence number of the masterchain block referenced by this shard block. Not present for masterchain
            blocks themselves.
        masterchain_block_ref:
          description: 'Full identifier of the associated masterchain block (workchain, shard, seqno).'
          $ref: '#/components/schemas/BlockId'
        min_ref_mc_seqno:
          type: integer
          description: Minimum masterchain block sequence number referenced by any message in this block.
        prev_blocks:
          type: array
          description: References to the previous block(s). Usually one block; two blocks after a shard merge.
          items:
            $ref: '#/components/schemas/BlockId'
        prev_key_block_seqno:
          type: integer
          description: Sequence number of the most recent key block before this one.
        rand_seed:
          type: string
          description: 'Random seed used for this block, hex encoded. Derived from the validator set and used for random number
            generation in contracts.'
        root_hash:
          type: string
          description: 'Root hash of the block''s Merkle tree, hex encoded. Together with `file_hash`, uniquely identifies
            this block.'
        seqno:
          type: integer
          description: 'Block sequence number within its workchain and shard. For the masterchain (workchain `-1`), this equals
            the global block height.'
        shard:
          type: string
          description: 'Shard identifier as a signed 64-bit integer string. The masterchain uses a single shard `-9223372036854775808`
            (`0x8000000000000000`).'
          example: '0'
        start_lt:
          type: string
          description: Logical time at the start of this block.
          example: '0'
        tx_count:
          type: integer
          description: Number of transactions included in this block.
        validator_list_hash_short:
          type: integer
          description: 'Short hash of the current validator set, used for fast validation.'
        version:
          type: integer
          description: Block format version number.
        vert_seqno:
          type: integer
          description: Vertical sequence number. Used during hard forks to distinguish blocks at the same seqno.
        vert_seqno_incr:
          type: boolean
          description: Whether the vertical sequence number was incremented in this block (indicates a hard fork event).
        want_merge:
          type: boolean
          description: Whether this shard has signaled that it wants to merge with its sibling shard due to low load.
        want_split:
          type: boolean
          description: Whether this shard has signaled that it wants to split into two child shards due to high load.
        workchain:
          type: integer
          description: 'Workchain ID. `-1` for the masterchain (validators, configuration), `0` for the basechain (user transactions
            and smart contracts).'
    BlockId:
      type: object
      description: 'Compact block identifier using the three-part key: workchain ID, shard identifier, and sequence number.
        Together these uniquely identify any block on the TON blockchain.'
      properties:
        seqno:
          type: integer
          description: Block sequence number within its workchain and shard.
        shard:
          type: string
          description: 'Shard identifier as a signed 64-bit integer string.'
          example: '0'
        workchain:
          type: integer
          description: 'Workchain ID. `-1` for masterchain, `0` for basechain.'
    BlocksResponse:
      type: object
      description: Response wrapper containing a list of blocks matching the query filters.
      properties:
        blocks:
          type: array
          description: Array of blocks matching the query filters.
          items:
            $ref: '#/components/schemas/Block'
    BouncePhase:
      type: object
      description: 'Details of the bounce phase, which occurs when an internal message with the bounce flag set fails during
        execution. The bounce phase constructs and sends back a bounce message with relevant fees.'
      properties:
        fwd_fees:
          type: string
          description: 'Forwarding fees for delivering the bounce message back to the sender, in nanotons.'
          example: '0'
        msg_fees:
          type: string
          description: 'Additional message fees for the bounce message, in nanotons.'
          example: '0'
        msg_size:
          description: Size of the bounce message in cells and bits.
          $ref: '#/components/schemas/MsgSize'
        req_fwd_fees:
          type: string
          description: 'Required forwarding fees as originally specified, in nanotons.'
          example: '0'
        type:
          type: string
          description: 'Bounce phase outcome: `ok` (bounce message sent successfully), `no_funds` (insufficient funds to create
            bounce message), or `neg_funds` (bounce would result in negative balance).'
    ComputePhase:
      type: object
      description: 'Details of the compute phase during transaction execution. The TVM executes the smart contract code, consuming
        gas and producing an action list. This phase reports gas usage, exit codes, VM step count, and whether computation
        succeeded.'
      properties:
        account_activated:
          type: boolean
          description: 'Whether the account transitioned from `uninit` to `active` during this computation (i.e., contract
            was deployed).'
        exit_arg:
          type: integer
          description: 'Additional TVM exit argument, providing context for non-zero exit codes.'
        exit_code:
          type: integer
          description: 'TVM exit code. `0` and `1` indicate successful execution. Non-zero codes (2+) indicate errors: `2`
            = stack underflow, `3` = stack overflow, `4` = integer overflow, `5` = range check error, etc.'
        gas_credit:
          type: string
          description: 'Gas credit granted for processing external inbound messages, in gas units. External messages receive
            a gas credit to execute enough code to accept the message; if the contract doesn''t call `ACCEPT`, the transaction
            is discarded.'
          example: '0'
        gas_fees:
          type: string
          description: 'Total gas fees charged for TVM execution, in nanotons. Computed as gas_used × gas_price.'
          example: '0'
        gas_limit:
          type: string
          description: 'Maximum gas the TVM was allowed to consume, in gas units.'
          example: '0'
        gas_used:
          type: string
          description: 'Actual gas consumed during TVM execution, in gas units.'
          example: '0'
        mode:
          type: integer
          description: Compute phase mode indicator.
        msg_state_used:
          type: boolean
          description: Whether the message's StateInit was used to initialize the account.
        reason:
          type: string
          description: 'Human-readable reason the compute phase was skipped. Present only when `skipped` is `true` (e.g.,
            account not active, no gas).'
        skipped:
          type: boolean
          description: 'Whether the compute phase was skipped entirely (e.g., the account has no code to execute).'
        success:
          type: boolean
          description: Whether the TVM execution completed successfully (exit code 0 or 1).
        vm_final_state_hash:
          type: string
          description: Hash of the TVM state after execution completed.
        vm_init_state_hash:
          type: string
          description: Hash of the TVM state before execution started.
        vm_steps:
          type: integer
          description: Number of TVM instruction steps executed. Each step corresponds to one TVM opcode.
    CreditPhase:
      type: object
      description: 'Details of the credit phase during transaction execution. In this phase, the value carried by the inbound
        message is credited to the account balance before computation begins.'
      properties:
        credit:
          type: string
          description: 'Amount of TON credited to the account from the inbound message, in nanotons. This is the message value
            minus any forwarding fees.'
          example: '0'
        credit_extra_currencies:
          type: object
          description: 'Map of extra currency IDs to amounts credited from the inbound message. Keys are currency ID strings,
            values are amount strings.'
          additionalProperties:
            type: string
        due_fees_collected:
          type: string
          description: 'Storage fees that were due and collected during the credit phase, in nanotons.'
          example: '0'
    DNSRecord:
      type: object
      description: 'A TON DNS record entry. TON DNS maps human-readable `.ton` and `.t.me` domains to wallet addresses, ADNL
        site addresses, storage bags, and next-hop resolvers. Each record is backed by an NFT item on-chain.'
      properties:
        dns_next_resolver:
          type: string
          description: 'Address of the next DNS resolver in the resolution chain. Used for subdomain delegation: queries for
            subdomains are forwarded to this resolver.'
        dns_site_adnl:
          type: string
          description: ADNL address of a TON Site associated with this domain. TON Sites are decentralized websites accessible
            via the TON network.
        dns_storage_bag_id:
          type: string
          description: TON Storage bag ID linked to this domain. Allows associating decentralized file storage with a DNS
            name.
        dns_wallet:
          type: string
          description: Wallet address associated with this domain. This is the address that receives funds when someone sends
            TON to this domain name.
        domain:
          type: string
          description: 'The fully qualified domain name (e.g., `example.ton` or `user.t.me`).'
        nft_item_address:
          type: string
          description: Address of the NFT item contract that represents ownership of this domain.
        nft_item_owner:
          type: string
          description: Current owner of the domain NFT. This is the address that controls the DNS record.
    DNSRecordsResponse:
      type: object
      description: Response wrapper containing DNS records and an address book for all referenced addresses.
      properties:
        address_book:
          description: 'Address book mapping raw addresses to user-friendly forms for all addresses referenced in the response.'
          $ref: '#/components/schemas/AddressBook'
        records:
          type: array
          description: Array of DNS records matching the query filters.
          items:
            $ref: '#/components/schemas/DNSRecord'
    DecodeRequest:
      type: object
      description: 'Request body for the decode endpoint. Accepts lists of opcodes (hex or decimal format) and message bodies
        (base64 or hex format) to be decoded into human-readable form.'
      properties:
        bodies:
          type: array
          description: 'List of message bodies to decode. Each body should be a base64-encoded or hex-encoded BOC. Maximum
            1000 items.'
          items:
            type: string
        opcodes:
          type: array
          description: 'List of opcodes to decode into human-readable names. Each opcode can be in hex format (with or without
            `0x` prefix) or decimal format. Maximum 1000 items.'
          items:
            type: string
    DecodeResponse:
      type: object
      description: Response from the decode endpoint containing decoded opcode names and parsed message body structures.
      properties:
        bodies:
          type: array
          description: Array of decoded message bodies. Each entry is a structured object with the decoded opcode name and
            parsed payload fields. Entries that could not be decoded return the raw data.
          items:
            type: object
            additionalProperties: true
        opcodes:
          type: array
          description: Array of decoded opcode names corresponding to the input opcodes. Unknown opcodes return the original
            value unchanged.
          items:
            type: string
    JettonBurn:
      type: object
      description: 'A Jetton burn event representing tokens permanently removed from circulation. Contains the burn amount,
        the wallet and owner involved, the query ID for tracking, and a reference to the on-chain transaction.'
      properties:
        amount:
          type: string
          description: 'Number of Jetton tokens burned, in the token''s smallest unit. Divide by 10^decimals (from the Jetton
            master metadata) to get the human-readable amount.'
        custom_payload:
          type: string
          description: 'Optional custom payload attached to the burn message, base64-encoded BOC. Application-specific data
            defined by the Jetton implementation.'
        decoded_custom_payload:
          type: array
          description: Decoded custom payload as a raw byte array. Present when the payload could be parsed.
          items:
            type: integer
        jetton_master:
          type: string
          description: Address of the Jetton master contract that governs this token.
        jetton_wallet:
          type: string
[...]
