{
    "openapi": "3.1.0",
    "info": {
        "title": "TON SC Indexer V2",
        "description": "TON Smart Contracts Indexer. Nominator pools, V2.",
        "version": "0.0.2"
    },
    "servers": [
        {
            "url": "https://toncenter.com/api/smc-index"
        },
        {
            "url": "https://testnet.toncenter.com/api/smc-index"
        }
    ],
    "paths": {
        "/lifecheck": {
            "get": {
                "summary": "Lifecheck Method",
                "description": "Check if there are any bookings in the last 19 hours.\nReturns status \"ok\" if bookings exist, \"dead\" otherwise.",
                "operationId": "lifecheck_method_api_smc_index_lifecheck_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LifecheckModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "APIKeyQuery": []
                    }
                ]
            }
        },
        "/getNominator": {
            "get": {
                "summary": "Get Nominator Method",
                "description": "Get nominator data in given pool (the only in list) or, if pool is not specified, in all pools where nominator stakes.",
                "operationId": "get_nominator_method_api_smc_index_getNominator_get",
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "APIKeyQuery": []
                    }
                ],
                "parameters": [
                    {
                        "name": "nominator",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "The nominator address.",
                            "title": "Nominator"
                        },
                        "description": "The nominator address."
                    },
                    {
                        "name": "pool",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "The pool address in which nominator stakes coins. If not specified, returns nominator from all his pools.",
                            "title": "Pool"
                        },
                        "description": "The pool address in which nominator stakes coins. If not specified, returns nominator from all his pools."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/NominatorModel"
                                    },
                                    "title": "Response Get Nominator Method Api Smc Index Getnominator Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/getPool": {
            "get": {
                "summary": "Get Pool Method",
                "description": "Get pool data with all its nominators.",
                "operationId": "get_pool_method_api_smc_index_getPool_get",
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "APIKeyQuery": []
                    }
                ],
                "parameters": [
                    {
                        "name": "pool",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "The pool address. Can be sent in hex, base64 or base64url form.",
                            "title": "Pool"
                        },
                        "description": "The pool address. Can be sent in hex, base64 or base64url form."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NominatorPoolModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/getNominatorBookings": {
            "get": {
                "summary": "Get Nominator Bookings Method",
                "description": "Get nominator bookings (debits and credits) in specified pool.",
                "operationId": "get_nominator_bookings_method_api_smc_index_getNominatorBookings_get",
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "APIKeyQuery": []
                    }
                ],
                "parameters": [
                    {
                        "name": "nominator",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "The nominator address.",
                            "title": "Nominator"
                        },
                        "description": "The nominator address."
                    },
                    {
                        "name": "pool",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Pool address to get bookings in.",
                            "title": "Pool"
                        },
                        "description": "Pool address to get bookings in."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Limit from bottom.",
                            "default": 100,
                            "title": "Limit"
                        },
                        "description": "Limit from bottom."
                    },
                    {
                        "name": "from_time",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Unixtime of the first booking.",
                            "title": "From Time"
                        },
                        "description": "Unixtime of the first booking."
                    },
                    {
                        "name": "to_time",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Unixtime of the last booking.",
                            "title": "To Time"
                        },
                        "description": "Unixtime of the last booking."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/BookingMinimalModel"
                                    },
                                    "title": "Response Get Nominator Bookings Method Api Smc Index Getnominatorbookings Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/getNominatorEarnings": {
            "get": {
                "summary": "Get Nominator Earnings Method",
                "description": "Get nominator income in specified pool with his stake on each timepoint.",
                "operationId": "get_nominator_earnings_method_api_smc_index_getNominatorEarnings_get",
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "APIKeyQuery": []
                    }
                ],
                "parameters": [
                    {
                        "name": "nominator",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "The nominator address.",
                            "title": "Nominator"
                        },
                        "description": "The nominator address."
                    },
                    {
                        "name": "pool",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Pool address to get earnings in.",
                            "title": "Pool"
                        },
                        "description": "Pool address to get earnings in."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Limit from bottom.",
                            "default": 100,
                            "title": "Limit"
                        },
                        "description": "Limit from bottom."
                    },
                    {
                        "name": "from_time",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Unixtime of the first booking.",
                            "title": "From Time"
                        },
                        "description": "Unixtime of the first booking."
                    },
                    {
                        "name": "to_time",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Unixtime of the last booking.",
                            "title": "To Time"
                        },
                        "description": "Unixtime of the last booking."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EarningsModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/getPoolBookings": {
            "get": {
                "summary": "Get Pool Bookings Method",
                "description": "Get all the bookings (debits and credits) in specified pool.",
                "operationId": "get_pool_bookings_method_api_smc_index_getPoolBookings_get",
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "APIKeyQuery": []
                    }
                ],
                "parameters": [
                    {
                        "name": "pool",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Pool address to get bookings in.",
                            "title": "Pool"
                        },
                        "description": "Pool address to get bookings in."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Limit from bottom.",
                            "default": 100,
                            "title": "Limit"
                        },
                        "description": "Limit from bottom."
                    },
                    {
                        "name": "from_time",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Unixtime of the first booking.",
                            "title": "From Time"
                        },
                        "description": "Unixtime of the first booking."
                    },
                    {
                        "name": "to_time",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Unixtime of the last booking.",
                            "title": "To Time"
                        },
                        "description": "Unixtime of the last booking."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/BookingModel"
                                    },
                                    "title": "Response Get Pool Bookings Method Api Smc Index Getpoolbookings Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ActiveNominatorModel": {
                "properties": {
                    "address": {
                        "type": "string",
                        "title": "Address"
                    },
                    "balance": {
                        "type": "integer",
                        "title": "Balance"
                    },
                    "pending_balance": {
                        "type": "integer",
                        "title": "Pending Balance"
                    }
                },
                "type": "object",
                "required": [
                    "address",
                    "balance",
                    "pending_balance"
                ],
                "title": "ActiveNominatorModel"
            },
            "BookingMinimalModel": {
                "properties": {
                    "utime": {
                        "type": "integer",
                        "title": "Utime"
                    },
                    "booking_type": {
                        "type": "string",
                        "title": "Booking Type"
                    },
                    "debit": {
                        "type": "integer",
                        "title": "Debit"
                    },
                    "credit": {
                        "type": "integer",
                        "title": "Credit"
                    }
                },
                "type": "object",
                "required": [
                    "utime",
                    "booking_type",
                    "debit",
                    "credit"
                ],
                "title": "BookingMinimalModel"
            },
            "BookingModel": {
                "properties": {
                    "nominator_address": {
                        "type": "string",
                        "title": "Nominator Address"
                    },
                    "utime": {
                        "type": "integer",
                        "title": "Utime"
                    },
                    "booking_type": {
                        "type": "string",
                        "title": "Booking Type"
                    },
                    "debit": {
                        "type": "integer",
                        "title": "Debit"
                    },
                    "credit": {
                        "type": "integer",
                        "title": "Credit"
                    }
                },
                "type": "object",
                "required": [
                    "nominator_address",
                    "utime",
                    "booking_type",
                    "debit",
                    "credit"
                ],
                "title": "BookingModel"
            },
            "EarningModel": {
                "properties": {
                    "utime": {
                        "type": "integer",
                        "title": "Utime"
                    },
                    "income": {
                        "type": "integer",
                        "title": "Income"
                    },
                    "stake_before": {
                        "type": "integer",
                        "title": "Stake Before"
                    }
                },
                "type": "object",
                "required": [
                    "utime",
                    "income",
                    "stake_before"
                ],
                "title": "EarningModel"
            },
            "EarningsModel": {
                "properties": {
                    "total_on_period": {
                        "type": "integer",
                        "title": "Total On Period"
                    },
                    "earnings": {
                        "items": {
                            "$ref": "#/components/schemas/EarningModel"
                        },
                        "type": "array",
                        "title": "Earnings"
                    }
                },
                "type": "object",
                "required": [
                    "total_on_period",
                    "earnings"
                ],
                "title": "EarningsModel"
            },
            "HTTPValidationError": {
                "properties": {
                    "detail": {
                        "items": {
                            "$ref": "#/components/schemas/ValidationError"
                        },
                        "type": "array",
                        "title": "Detail"
                    }
                },
                "type": "object",
                "title": "HTTPValidationError"
            },
            "LifecheckModel": {
                "properties": {
                    "status": {
                        "type": "string",
                        "title": "Status"
                    },
                    "last_booking_time": {
                        "type": "integer",
                        "title": "Last Booking Time"
                    }
                },
                "type": "object",
                "required": [
                    "status",
                    "last_booking_time"
                ],
                "title": "LifecheckModel"
            },
            "NominatorModel": {
                "properties": {
                    "pool_address": {
                        "type": "string",
                        "title": "Pool Address"
                    },
                    "balance": {
                        "type": "integer",
                        "title": "Balance"
                    },
                    "pending_balance": {
                        "type": "integer",
                        "title": "Pending Balance"
                    }
                },
                "type": "object",
                "required": [
                    "pool_address",
                    "balance",
                    "pending_balance"
                ],
                "title": "NominatorModel"
            },
            "NominatorPoolModel": {
                "properties": {
                    "stake_amount_sent": {
                        "type": "integer",
                        "title": "Stake Amount Sent"
                    },
                    "validator_amount": {
                        "type": "integer",
                        "title": "Validator Amount"
                    },
                    "nominators_count": {
                        "type": "integer",
                        "title": "Nominators Count"
                    },
                    "active_nominators": {
                        "items": {
                            "$ref": "#/components/schemas/ActiveNominatorModel"
                        },
                        "type": "array",
                        "title": "Active Nominators"
                    },
                    "inactive_nominators": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Inactive Nominators"
                    }
                },
                "type": "object",
                "required": [
                    "stake_amount_sent",
                    "validator_amount",
                    "nominators_count",
                    "active_nominators",
                    "inactive_nominators"
                ],
                "title": "NominatorPoolModel"
            },
            "ValidationError": {
                "properties": {
                    "loc": {
                        "items": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "integer"
                                }
                            ]
                        },
                        "type": "array",
                        "title": "Location"
                    },
                    "msg": {
                        "type": "string",
                        "title": "Message"
                    },
                    "type": {
                        "type": "string",
                        "title": "Error Type"
                    }
                },
                "type": "object",
                "required": [
                    "loc",
                    "msg",
                    "type"
                ],
                "title": "ValidationError"
            }
        },
        "securitySchemes": {
            "APIKeyHeader": {
                "type": "apiKey",
                "in": "header",
                "name": "X-API-Key"
            },
            "APIKeyQuery": {
                "type": "apiKey",
                "in": "query",
                "name": "api_key"
            }
        }
    }
}
